In [1]:
x,y,z="orange","banana","cherry"
print(x)
print(y)
print(z)

orange
banana
cherry

In [2]:
x=y=z="Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [3]:
x="awesome"
def myfunc():
    print("Python is "+x)
myfunc()

Python is awesome

In [4]:
x="awesome"
def myfunc():
    x='Fantastic'
    print("Python is "+ x)
myfunc()

print("Python is "+x)

Python is Fantastic
Python is awesome

In [5]:
# The gloabal keyword
def myfunc():
    global x
    x="fantastic"
    
myfunc()
print("Python is "+ x)

Python is fantastic

In [6]:
x="awesome"
def myfunc():
    global x
    x="fantastic"
    
myfunc()

print("Python is "+x)

Python is fantastic

# BUILT IN DATA TYPES
- Text type -str
- Numeric Types- int,float,complex
- sequence types- list,tuple,range
- mapping type- dict
- set types- set ,frozenset
- boolean type- bool
- binary types- bytes,bytearray, memoryview
- None type- Nonetype

In [7]:
# getting the datatype
x=5
print(type(x))

<class 'int'>

In [8]:
x="hello world"
print(type(x))

<class 'str'>

In [9]:
x=5.2
print(type(x))

<class 'float'>

In [10]:
x=["nse","bse","mcx"]
print(type(x))

<class 'list'>

In [11]:
x=("nse","bse","mcx")
print(type(x))

<class 'tuple'>

In [12]:
x=range(10)
print(x)

range(0, 10)

In [13]:
x={"a":5,"b":6}
print(type(x))

<class 'dict'>

In [14]:
print(x)

{'a': 5, 'b': 6}

In [15]:
x=frozenset({"bse","nse","mcx"})
print(type(x))

<class 'frozenset'>

In [17]:
# Setting the specific data type
x=str("Hello Izhaar")
x

'Hello Izhaar'

In [19]:
x=1
y=2.8
z=1j
a=float(x)
b=int(y)
c=complex(x)

In [20]:
print(a)
print(b)
print(c)

1.0
2
(1+0j)

In [21]:
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'int'>
<class 'complex'>

In [26]:
# Random number
import random 
print(random.randrange(1,10))
print(random.randrange(1,10))
print(random.randrange(1,10))

7
2
4

In [36]:
#Python casting
## Specify a variable type
x=int(1)
y=int(2.5)
z=int("3")

In [37]:
print(x)
print(y)
print(z)

1
2
3

In [38]:
x=float(1)
y=float(2.5)
z=float("3")

In [39]:
print(x)
print(y)
print(z)

1.0
2.5
3.0

In [40]:
x=str(1)
y=str(2.5)
z=str("3")

In [41]:
print(x)
print(y)
print(z)

1
2.5
3

In [43]:
# Python strings
# Assign strings
# Strings are arrays
a="Hello, world!"
print(a[1])

e

In [44]:
# Looping through a string
for x in "banana":
    print(x)

b
a
n
a
n
a

In [45]:
for x in "ALice blue":
    
    print(x)

A
L
i
c
e

b
l
u
e

In [46]:
# String length
a="Alice Blue"
print(len(a))

10

In [47]:
# Check string
txt= "Alice blue is the best brokerage company!"
print("best" in txt)

True

In [54]:
# Use it in an if statement
txt="Alice blue is the best brokerage company!"
if "best" in txt:
    print("Yes,'best' is present.")

Yes,'best' is present.

In [51]:
# cECK IF NOT
TXT="Alice blue is best brokerage firm"
print("good" not in txt)

True

In [ ]:
# Use it in an if statement

In [53]:
txt="Alice blue is the best brokerage firm"
if 'good' not in txt:
    print("No, 'good' is NOT present.")

No, 'good' is NOT present.

In [55]:
# Slicing strings
b='Alice Blue'
print(b[2:6])

ice

In [59]:
# Slice from the start
print(b[:9])

Alice Blu

In [64]:
print(b[::4])

Aeu

In [58]:
print(b[2::])

ice Blue

In [61]:
# slice to the end
print(b[2:])

ice Blue

In [62]:
# Negative indexing
a="Alice Blue"
print(a[-5:-2])

 Bl

In [65]:
# Modify strings
# UPPER CASE
a="Alice Blue"
print(a.upper())

ALICE BLUE

In [66]:
# Lower case
print(a.lower())

alice blue

In [68]:
# Remove white spaces
a="  Alice blue  "
print(a.strip())

Alice blue

In [71]:
# Replace strings
print(a.replace("A","S"))

  Slice blue

In [73]:
# Split string
a="Alice, Blue, is,best,firm"
print(a.split(","))

['Alice', ' Blue', ' is', 'best', 'firm']

In [75]:
# String concatenation
a="Hello"
b="India"
c=a+ b
print(c)

HelloIndia

In [77]:
# To add space between them ,add a " ":
a="Hello"
b="India"
c=a+" "+b
print(c)

Hello India

In [78]:
# string format
age=80
txt="My name is mike, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [80]:
# But with format we can add
# The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:
age=65
txt="My name is john,i am {}"
print(txt.format(age))

My name is john,i am 65

In [82]:
quantity =9
itemno=547
price=45
myorder=" I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity,itemno,price))

 I want 9 pieces of item 547 for 45 dollars.

In [84]:
# Excape charater
txt="we are the  so-called "spartans" from the west."

SyntaxError: invalid syntax (527929071.py, line 2)

In [87]:
txt="we are the so-called \'spartans\' from the north. "

In [88]:
print(txt)

we are the so-called 'spartans' from the north.

In [89]:
# Boolean values
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [90]:
a=87
b=76
if b>a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [92]:
# Evaluate values and variable
#The bool() function allows you to evaluate any value, and give you True or False in return,
print(bool("Hello"))
print(bool(15))

True
True

In [95]:
# Evaluate two variables
x="Hello"
y=15

print(bool(x))
print(bool(y))

True
True

## Most Values are True
- Almost any value is evaluated to True if it has some sort of content.

- Any string is True, except empty strings.

- Any number is True, except 0.

- Any list, tuple, set, and dictionary are True, except empty ones.

In [96]:
bool("abc")
bool(123)
bool(["apple","cherry","banana"])

True

# Some Values are False
-  In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [98]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [99]:
## One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False:
class myclass():
    def __len__(self):
        return 0
    
myobj=myclass()
print(bool(myobj))

False

In [100]:
# Function can return a boolean
def myFunction():
    return True
print(myFunction)

<function myFunction at 0x0000023C01CC1000>

In [102]:
def myFunction():
    return False
if myFunction():
    print("Yes!")
else:
    print("No!")

No!

In [103]:
def myFunction():
    return True
if myFunction():
    print("Yes!")
else:
    print("No!")

Yes!

In [104]:
# Check if an object is an integer or not;
x=200
print(isinstance(x,int))

True

In [105]:
x=20.5
print(isinstance(x,float))

True

In [106]:
x="Hello"
print(isinstance(x,str))

True

In [107]:
x=90
print(isinstance(x,float))

False

In [108]:
# Python list
list=["green","blue","orange"]

In [109]:
print(list)

['green', 'blue', 'orange']

# List Items
- List items are ordered, changeable, and allow duplicate values.

- List items are indexed, the first item has index [0], the second item has index [1] etc.

# Ordered
- When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

- If you add new items to a list, the new items will be placed at the end of the list.

# Changeable
- The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

# Allow Duplicates
- Since lists are indexed, lists can have items with the same value:

In [111]:
# List length
print(list)
print(len(list))

['green', 'blue', 'orange']
3

In [112]:
# List items can be of any data types
l1=['green','blue','black']
l2=['5','6','8']
l3=[True,False,False]

In [113]:
# A list can contain different data types
list1=['hello','7',7.3,True]

In [114]:
print(type(list1))

<class 'list'>

In [115]:
# List constructor
# It is also possible to use the list() constructor when creating a new list.
# Using the list() constructor to make a list

In [120]:
thislist= list (("jhon", "bay", "mike"))
print(thislist)

TypeError: 'list' object is not callable

# Python Collections (Arrays)
There are four collection data types in the Python programming language:

- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [123]:
# Acess list items
list1=["green","blue","black"]
print(list1[2])

black

In [125]:
# Negative indexing
print(list1[-1])

black

In [126]:
print(list[0])

green

In [127]:
# Ranges of indexs
list=['mars',"earth","jupyter","saturn","mercury"]
print(list[2:5])

['jupyter', 'saturn', 'mercury']

In [128]:
print(list[:4])

['mars', 'earth', 'jupyter', 'saturn']

In [129]:
print(list[2:])

['jupyter', 'saturn', 'mercury']

In [130]:
# Range of negative indexes
print(list[-4:-1])

['earth', 'jupyter', 'saturn']

In [133]:
# Check if item Exists
# To determine if a specified item is present in alist use the in keyword

list=['apple',"samsung","nokia","realme"]
if "apple" in list:
    print("yes ,'apple' in the list")
else:
    print('Not, in the list')

yes ,'apple' in the list

In [134]:
list=['apple',"samsung","nokia","realme"]
if "motorola" in list:
    print("yes ,'apple' in the list")
else:
    print('Not, in the list')

Not, in the list

In [135]:
# change list items
# change item value
# To change the value of a specific item,refer to th eindex number

In [137]:
list=["apple","motorola","nokia","googlepixel"]

print(list)

['apple', 'motorola', 'nokia', 'googlepixel']

In [138]:
list[1]='oneplus'
print(list)

['apple', 'oneplus', 'nokia', 'googlepixel']

In [139]:
# Change a range of item values
list[1:3]=['realme','htc']
print(list)

['apple', 'realme', 'htc', 'googlepixel']

In [140]:
# Insert items
list.insert(3,"accord")
print(list)

['apple', 'realme', 'htc', 'accord', 'googlepixel']

In [145]:
# Add list items
# Append items
# To add an item to the end of the list ,use the append() method:
list=["banana","cherry","orange"]
list.append("grapes")
print(list)

['banana', 'cherry', 'orange', 'grapes']

In [146]:
list.append("fruits")
print(list)

['banana', 'cherry', 'orange', 'grapes', 'fruits']

In [147]:
# Insert items
# The insert() method inserts an item at the specified index;
list=["pen","book","notebook"]
list.insert(1,"Notes")
print(list)

['pen', 'Notes', 'book', 'notebook']

In [149]:
# Extend list
# To append elements from another list to the current list,use the extend () method
list=["pen","books","notes"]
list2=["college","school","university"]
list.extend(list2)
print(list)

['pen', 'books', 'notes', 'college', 'school', 'university']

In [150]:
# Addd any iterable
# The extend() method does not have to append lists, you can add anyiterable object(tuples,sets, dict)

list=['apple','banana','cherry']
tuple=("kiwi","orange")
list.extend(tuple)
print(list)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [151]:
# Remove specified item
# The remove() method removes the specified item.

list=["apple","banana","cherry"]
list.remove("banana")
print(list)

['apple', 'cherry']

In [152]:
# Remove specified index
# The pop() method removes the specified index

list=["apple","banana","cherry"]
list.pop(1)
print(list)

['apple', 'cherry']

In [153]:
# if you do not specify the index , the pop () method removes the last item
list=["apple","nokia","samsung","realme"]
list.pop()

'realme'

In [154]:
print(list)

['apple', 'nokia', 'samsung']

In [155]:
# The del keyword also removes the specified index:
list=["Nike","adidas","puma","sparx"]
del list[0]

In [156]:
print(list)

['adidas', 'puma', 'sparx']

In [157]:
# to delete entire list
list=["apple","red","sweet"]
del (list)
print(list)

<class 'list'>

In [158]:
# Clear the list
# the clear() method empties the list
list=["office","staff","employee","salary"]
list.clear()
print(list)

[]

In [159]:
# Loop lists
# Loop through a list
# You can loop through the list items by using a for loop;


list=["samasung","nokia","googlepixel","apple"]
for x in list:
    print(x)

samasung
nokia
googlepixel
apple

In [160]:
# Loop through the index numbers
# Use the range() and len() functions to create a suitable iterable


list=["computer","desktop","monitor","screen"]
for i in range(len(list)):
    print(list[i])

computer
desktop
monitor
screen

# Using a while loop
- You can loop through the list items by using a while loop.

- Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

- Remember to increase the index by 1 after each iteration.

In [161]:
list=["office","chair","system","employee"]
i=0
while i< len(list):
    print(list[i])
    i=i+1

office
chair
system
employee

In [163]:
# Looping using list comprehension
# List comprehension offers the shortest syntax for looping through lists

list=["home","kitchen","bedrooms","washroom","roof"]
[print(x) for x in list]

home
kitchen
bedrooms
washroom
roof

[None, None, None, None, None]

In [165]:
# List comprehension
# list comprehension offers a shorter syntax when you want to create a new list based on 
#the value of an existing list.

vegetables=['potato',"tomato","brinjal","carrot"]
newlist=[]

for x in vegetables:
    if "o" in x:
        newlist.append(x)
print(newlist)

['potato', 'tomato', 'carrot']

In [167]:
stock_market=["nse","bse","mcx","currency"]
newlist=[x for x in stock_market if "s" in x]
print(newlist)

['nse', 'bse']

In [ ]:
# The syntax
newlist=[expression for item in iterable if condition ==True]

In [ ]:
# Condition
the condition is like a filter that only accepts the item that valuate to true.

In [168]:
newlist=[x for x in stock_market if x!="bse"]
print(newlist)

['nse', 'mcx', 'currency']

# Iterable 
- the iterable can be any iterable object, like a list,tuple,set etc.
- you can use the range() function to create an iterable

In [169]:
newlist=[x for x in range(10)]

In [170]:
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [171]:
newlist=[x for x in range(10) if x< 5]
print(newlist)

[0, 1, 2, 3, 4]

In [174]:
newlist=[x for x in range(80) if x%5==0]
print(newlist)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75]

In [175]:
stock_market

['nse', 'bse', 'mcx', 'currency']

In [176]:
newlist=[x .upper() for x in stock_market]

In [177]:
print(newlist)

['NSE', 'BSE', 'MCX', 'CURRENCY']

In [179]:
# set all values in the new list to "Hello"
newlist=['Hello' for x in stock_market]
print(newlist)

['Hello', 'Hello', 'Hello', 'Hello']

In [180]:
newlist

['Hello', 'Hello', 'Hello', 'Hello']

In [181]:
stock_market

['nse', 'bse', 'mcx', 'currency']

In [184]:
# Return nifty50 indtead of bse
newlist=[x if x!= "bse" else "nifty50" for x in stock_market]

In [185]:
print(newlist)

['nse', 'nifty50', 'mcx', 'currency']

In [186]:
# Sort list alphanumerically

list=["patna","mumbai",'delhi',"kolkata","bangluru"]
list.sort()
print(list)

['bangluru', 'delhi', 'kolkata', 'mumbai', 'patna']

In [187]:
# Sort the list numerically
list=[100,50,60,80]
list.sort()
print(list)

[50, 60, 80, 100]

In [190]:
# Sort descending
list=['apple','orange',"mango","kiwi","guava",'banana']
list.sort(reverse=True)
print(list)

['orange', 'mango', 'kiwi', 'guava', 'banana', 'apple']

In [192]:
# Customize sort function
# you can also customize your own function by using the keyword argument key=function

def myfunc(n):
    return abs(n-50)
list=[15,85,95,65,25]
list.sort(key=myfunc)
print(list)

[65, 25, 15, 85, 95]

# case insensitive sort
- By default the sort() method is case sensitive, resulting in all capital letters being seorted before lower case letters.

In [193]:
list=['shirt',"pant","coat","boxer","t-shirt"]
list.sort()
print(list)

['boxer', 'coat', 'pant', 'shirt', 't-shirt']

In [194]:
list=['shirt',"Pant","coat","boxer","t-shirt"]
list.sort()
print(list)

['Pant', 'boxer', 'coat', 'shirt', 't-shirt']

In [196]:
#So if you want a case-insensitive sort function, use str.lower as a key function:
list=['shirt',"Pant","coat","boxer","t-shirt"]
list.sort(key=str.lower)
print(list)

['boxer', 'coat', 'Pant', 'shirt', 't-shirt']

In [197]:
# Reverse order
list=["banana","Orange","apple","kiwi"]
list.reverse()
print(list)

['kiwi', 'apple', 'Orange', 'banana']

In [212]:
# Copy a list
list=["linkedin","meta","instagram","snapchat"]
mylist=list.copy()
print(mylist)

['linkedin', 'meta', 'instagram', 'snapchat']

In [213]:
# Join two list
list1=['a','b','c']
list2=['1','2','3']
list3=list1+list2
print(list3)

['a', 'b', 'c', '1', '2', '3']

In [214]:
# another way
for x in list2:
    list1.append(x)
    
print(list1)

['a', 'b', 'c', '1', '2', '3']

In [215]:
# Use the extend() method to add list2 at the end of list1
list1.extend(list2)
print(list1)

['a', 'b', 'c', '1', '2', '3', '1', '2', '3']

# Python Tuples

In [219]:
mytuple=("watch","belt","cap","mobile")

In [220]:
print(mytuple)

('watch', 'belt', 'cap', 'mobile')

# Tuple
- Tuples are used to store multiple items in a single variable.

- Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

- A tuple is a collection which is ordered and unchangeable.

- Tuples are written with round brackets.

- ORDERED
- UNCHANGEABLE
- ALLOW DUPLICATES

In [221]:
mytuple=('boys','mens',"girls","womens")
print(len(mytuple))

4

In [222]:
# Create tuple with one item
thistuple=('shirt',)
print(type(thistuple))

<class 'tuple'>

In [223]:
thattuple=('shirt')
print(type(thattuple))

<class 'str'>

- so comma is necessary

In [224]:
# Tuple items-data types
t1=('lion',"tiger","deer","elephant")
t2=(1,2,3,5)
t3=(True,False,True)

In [229]:
print(type(t1))
print(type(t2))
print(type(t3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [228]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [230]:
# The tuple() constructor

thistuple=tuple(("mobile","sim","memory","network"))
print(thistuple)

TypeError: 'tuple' object is not callable

In [231]:
# Access tuple items
thistuple=('moon',"sun",'stars')
print(thistuple[1])

sun

In [233]:
print(thistuple[-1])

stars

In [236]:
# Range of indexes
thistuple=("apple","banana","kiwi","melon","lichi","guava")
print(thistuple[2:5])

('kiwi', 'melon', 'lichi')

In [237]:
print(thistuple[:4])

('apple', 'banana', 'kiwi', 'melon')

In [238]:
print(thistuple[2:])

('kiwi', 'melon', 'lichi', 'guava')

In [239]:
# Range of negative indexs
print(thistuple[-4:-1])

('kiwi', 'melon', 'lichi')

In [241]:
# Check if item exists
thistuple=('datascientist','dataanlyst','dataengineer')
if "data" in thistuple:
    print("yes")
else:
    print("no")

no

# Update tuples
## Change Tuple Values
- Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

- But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [267]:
x=("glass","cup","plate")
z=[x]
z[1]="spoon"
x=tuple(z)
print(x)

IndexError: list assignment index out of range

In [265]:
abc=["abc","def"]
print(abc)

['abc', 'def']

In [268]:
# Add tuple to a tuple
thistuple=("keyboard","mouse","cpu","screen")
y=("ram",)
thistuple +=y
print(thistuple)

('keyboard', 'mouse', 'cpu', 'screen', 'ram')

In [270]:
# Loop through a tuple
mytuple=("kitkat","dairymilk","fivestar","silk")
for x in mytuple:
    print(x)

kitkat
dairymilk
fivestar
silk

In [271]:
# Loop through the index numbers
mytuple=("kitkat","dairymilk","fivestar","silk")
for i in range(len(mytuple)):
    print(mytuple[i])

kitkat
dairymilk
fivestar
silk

In [272]:
# Using while loop
mytuple=("kitkat","dairymilk","fivestar","silk")
i=0
while i< len(mytuple):
    print(mytuple[i])
    i=i+1

kitkat
dairymilk
fivestar
silk

In [273]:
# Join two tuples
t1=("a","b","c")
t2=(1,2,3)
t3=t1+t2
print(t3)

('a', 'b', 'c', 1, 2, 3)

In [274]:
# Multiply tuples
fruits=("apple","banana","cherry")
mytuple=fruits*2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
# Python set

In [275]:
myset={'earphones','earpods',"headphone"}
print(myset)

{'headphone', 'earphones', 'earpods'}

In [ ]:
- Unoredred
- unchangeable
- duplicates not allowed

In [277]:
myset={"a","a","a",'b',"c"}
print(myset)

{'b', 'c', 'a'}

In [278]:
print(len(myset))

3

In [279]:
print(type(myset))

<class 'set'>

In [280]:
# The set() constructor
thisset=set(("he","his",'her',"him"))
print(thisset)

{'him', 'her', 'he', 'his'}

In [281]:
# Acess items
thisset={"he",'his','him','her'}
for x in thisset:
    print(x)

him
he
his
her

In [282]:
print("his" in thisset)

True

In [283]:
# Once a set is created , you cannot change its items , but you can add new items

In [284]:
thisset

{'he', 'her', 'him', 'his'}

In [285]:
# add items
thisset.add("them")
print(thisset)

{'he', 'him', 'her', 'them', 'his'}

In [286]:
# add sets
print(thisset)
print(myset)

{'he', 'him', 'her', 'them', 'his'}
{'b', 'c', 'a'}

In [287]:
thisset.update(myset)
print(thisset)

{'b', 'he', 'him', 'her', 'c', 'them', 'a', 'his'}

In [288]:
myset.update(thisset)
print(myset)

{'b', 'he', 'him', 'her', 'c', 'them', 'a', 'his'}

In [289]:
# Add any iterable
#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.)
set1={'foo',"boo","zoo",'too'}
list1=['faa','baa','zaa','taa']
set1.update(list1)
print(set1)

{'taa', 'zoo', 'foo', 'baa', 'too', 'boo', 'faa', 'zaa'}

In [290]:
# Remove item
set1

{'baa', 'boo', 'faa', 'foo', 'taa', 'too', 'zaa', 'zoo'}

In [291]:
set1.remove("boo")
print(set1)

{'taa', 'zoo', 'foo', 'baa', 'too', 'faa', 'zaa'}

In [292]:
#by discard method
set1.discard("baa")
print(set1)

{'taa', 'zoo', 'foo', 'too', 'faa', 'zaa'}

In [293]:
# Clear method empties the set
set1.clear()

In [294]:
print(set1)

set()

In [300]:
set2={"tom",'jerry','nobita','zian'}
print(set2)

{'zian', 'jerry', 'tom', 'nobita'}

In [311]:
# del keyword will delete the set completely
set2={"tom",'jerry','nobita','zian'}
del set2
print(set2)

NameError: name 'set2' is not defined

In [302]:
# Loop items
set3={'avenger',"spiderman","deadpool","x-men"}
for x in set3:
    print(x)

x-men
avenger
spiderman
deadpool

#  Join Two Sets
- There are several ways to join two or more sets in Python.

- You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [304]:
# By union method
set1={'a','b','c'}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'a', 'c'}

In [307]:
# By update method
set1.update(set2)
print(set1)

{'b', 1, 2, 3, 'c', 'a'}

## Keep ONLY the Duplicates
-  The intersection_update() method will keep only the items that are present in both sets.

In [308]:
x={'google',"microsoft","apple"}
y={"apple",'facebook',"meta"}
x.intersection_update(y)
print(x)

{'apple'}

In [310]:
y.intersection_update(x)
print(y)

{'apple'}

## Keep All, But NOT the Duplicates
- 
The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [313]:
x={'apple',"microsoft","facebook"}
y={"meta","google","apple"}
x.symmetric_difference_update(y)
print(x)

{'meta', 'facebook', 'google', 'microsoft'}

In [314]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'google', 'cherry', 'microsoft'}

In [315]:
x.union(y)
print(x)

{'banana', 'cherry', 'apple'}

# Python dictionary
- Dictionaries are used to store data values in key:value pairs.

- A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [316]:
thisdict={"brand":"ford",
         "model":"Mustang",
         "year":1965}
print(thisdict)

{'brand': 'ford', 'model': 'Mustang', 'year': 1965}

In [317]:
# print the "brand" value of the dictionary
print(thisdict["brand"])

ford

In [319]:
#print the "model" value of the dictionary

print(thisdict['model'])

Mustang

- ordered or unordered
- changeable
- Duplicates not allowed

In [320]:
# Length
print(len(thisdict))

3

In [322]:
# Dictionary items-Data types
thisdict={
    "brand":"Tata",
    "model":"Nexon",
    "electric":"yes",
    "year":2022,
    "colors":["white","blue","black"]
}

print(thisdict)

{'brand': 'Tata', 'model': 'Nexon', 'electric': 'yes', 'year': 2022, 'colors': ['white', 'blue', 'black']}

In [325]:
print(thisdict['brand'])

Tata

In [327]:
# get() can also be used
thisdict.get("model")

'Nexon'

In [329]:
# The keys() method will return a list of all the keys in the dictionary
x=thisdict.keys()
x

dict_keys(['brand', 'model', 'electric', 'year', 'colors'])

In [331]:
# get values
y=thisdict.values()
y

dict_values(['Tata', 'Nexon', 'yes', 2022, ['white', 'blue', 'black']])

In [332]:
# get items
z=thisdict.items()
z

dict_items([('brand', 'Tata'), ('model', 'Nexon'), ('electric', 'yes'), ('year', 2022), ('colors', ['white', 'blue', 'black'])])

In [333]:
# Check if key exists
thisdict={"brand":"apple",
          "model":"iphone14",
          "year":"2022",
          "color":"white"
         }

if "model" in thisdict:
    print("yes, 'model' is one of the keys in the thisdict dictionary")

yes, 'model' is one of the keys in the thisdict dictionary

In [335]:
# Check if key exists
thisdict={"brand":"apple",
          "model":"iphone14",
          "year":"2022",
          "color":"white"
         }

if "launch_date" in thisdict:
    print("yes, 'launch_date' is one of the keys in the thisdict dictionary")
else:
    print("No, this key is not in the thisdict dictionary")

No, this key is not in the thisdict dictionary

In [336]:
# Change values
thisdict={
    "movie_name":"kgf2",
    "language":'kannada',
    "release_year":2021
}
print(thisdict)

{'movie_name': 'kgf2', 'language': 'kannada', 'release_year': 2021}

In [338]:
thisdict['release_year']=2022
print(thisdict)

{'movie_name': 'kgf2', 'language': 'kannada', 'release_year': 2022}

In [339]:
# update dictionary
thisdict

{'movie_name': 'kgf2', 'language': 'kannada', 'release_year': 2022}

In [340]:
thisdict.update({'language':"Hindi"})
print(thisdict)

{'movie_name': 'kgf2', 'language': 'Hindi', 'release_year': 2022}

In [341]:
# adding items
thisdict

{'movie_name': 'kgf2', 'language': 'Hindi', 'release_year': 2022}

In [342]:
thisdict['country']='India'
thisdict

{'movie_name': 'kgf2',
 'language': 'Hindi',
 'release_year': 2022,
 'country': 'India'}

In [343]:
print(thisdict)

{'movie_name': 'kgf2', 'language': 'Hindi', 'release_year': 2022, 'country': 'India'}

In [344]:
# Removing items
thisdict.pop("language")
thisdict

{'movie_name': 'kgf2', 'release_year': 2022, 'country': 'India'}

In [346]:
#the clear() method empties the dictionary
thisdict

{'movie_name': 'kgf2', 'release_year': 2022, 'country': 'India'}

In [347]:
thisdict.clear()

In [349]:
print(thisdict)

{}

In [350]:
# Loop through a dictionary
thisdict={
    "brand":"Tata",
    "model":"Nexon",
    "electric":"yes",
    "year":2022,
    "colors":["white","blue","black"]
}

print(thisdict)

{'brand': 'Tata', 'model': 'Nexon', 'electric': 'yes', 'year': 2022, 'colors': ['white', 'blue', 'black']}

In [352]:
# print all key names in the dictionary ,one by one:
for x in thisdict:
    print(x)

brand
model
electric
year
colors

In [353]:
# print all values in the dictionary ,one by one:
for x in thisdict:
    print(thisdict[x])

Tata
Nexon
yes
2022
['white', 'blue', 'black']

In [354]:
for x in thisdict.keys():
    print(x)

brand
model
electric
year
colors

In [355]:
for x,y in thisdict.items():
    print(x,y)

brand Tata
model Nexon
electric yes
year 2022
colors ['white', 'blue', 'black']

In [356]:
thisdict

{'brand': 'Tata',
 'model': 'Nexon',
 'electric': 'yes',
 'year': 2022,
 'colors': ['white', 'blue', 'black']}

In [357]:
# Copy
mydict=thisdict.copy()
print(mydict)

{'brand': 'Tata', 'model': 'Nexon', 'electric': 'yes', 'year': 2022, 'colors': ['white', 'blue', 'black']}

In [358]:
# or by dict() function
dict2=dict(thisdict)
print(dict2)

{'brand': 'Tata', 'model': 'Nexon', 'electric': 'yes', 'year': 2022, 'colors': ['white', 'blue', 'black']}

In [364]:
# Create a dictionary that contain three dictionaries:
# Nested dictionary
employee={
    "employee1":{
    "Name":"jhon",
    "emp_id":"cv325",
    "department":"sells"
     },
    "employee2":{
        "Name":"izhar",
        "emp_id":"cv256",
        "department":"Dataware_house"
    },
    "employee3":{
        "Name":"Saumit",
        "emp_id":"cv653",
        "department":"Dataware_house"
    }
}

In [365]:
employee

{'employee1': {'Name': 'jhon', 'emp_id': 'cv325', 'department': 'sells'},
 'employee2': {'Name': 'izhar',
  'emp_id': 'cv256',
  'department': 'Dataware_house'},
 'employee3': {'Name': 'Saumit',
  'emp_id': 'cv653',
  'department': 'Dataware_house'}}

In [ ]:
# Python conditions and if statements

In [366]:
a=24
b=98
if b>a:
    print("b is greater than a")

b is greater than a

In [371]:
a=34
b=34
if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")

a and b are equal

In [380]:
a=34
b=30
if b>a:
    print("b is greater than a")
elif a==b:
        print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [381]:
if a>b: print("a is greater than b")

a is greater than b

In [382]:
# short hand
a=2
b=32
print("A") if a> b else print("B")

B

In [384]:
a=10
b=10
print("A") if a>b else print("=") if a==b else print("B")

=

In [386]:
# And
a=89
b=98
c=78
if a>b and c>a:
    print("both conditions are true")
else:
    print("no")

no

In [389]:
a=89
b=58
c=78
if a>b or c>a:
    print("atleast one conditions is true")
else:
    print("None")

atleast one conditions is true

In [392]:
# Nested if

x=55
if x>10:
    print("above ten,")
    if x>20:
        print("and also above 20!")
    else:
        print("but not above 20.")

above ten,
and also above 20!

In [393]:
# The pass statement
a=90
b=99
if b>a:
    pass

In [397]:
# Python loops

## while loop

i=1
while i<6:
    print(i)
    i+=6

1

In [398]:
# The break statement
i=1
while i<6:
    print(i)
    if i ==3:
        break
    i +=1

1
2
3

In [399]:
# the continue statement
i=0
while i<6:
    i +=1
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [400]:
# The else statement
i=1
while i<6:
    print(i)
    i +=1
else:
    print(" i is no longer less than 6")

1
2
3
4
5
 i is no longer less than 6

In [401]:
# For loops
finance=["Mutual_fund","sip","stock","crypto","FD"]
for x in finance:
    print(x)

Mutual_fund
sip
stock
crypto
FD

In [403]:
# the break statement
for x in finance:
    print(x)
    if x =="crypto":
        break

Mutual_fund
sip
stock
crypto

In [406]:
for x in finance:
    if x=="sip": 
        continue
    print(x)

Mutual_fund
stock
crypto
FD

In [407]:
# the range function
for x in range(6):
    print(x)

0
1
2
3
4
5

In [408]:
for x in range(2,6):
    print(x)

2
3
4
5

In [409]:
for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [410]:
# Else in for loop
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [413]:
for x in range(6):
    if x ==3:break
    print(x)
else:
        print("Finally finished")

0
1
2

In [414]:
# NESTED LOOPS
adj=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [415]:
# the pass statements
for x in [0,1,2]:
    pass

In [418]:
# Creating a function
def my_function():
    print("hello from a function")
my_function()

hello from a function

In [421]:
# Argument
def my_function(fname):
    print(fname+ " ","Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil  Refsnes
Tobias  Refsnes
Linus  Refsnes

In [422]:
# Number of arguments
def my_function(fname,lname):
    print(fname+ " "+ lname)
my_function("Emil","Refsnes")

Emil Refsnes

In [424]:
#By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.
my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [425]:
# Arbitrary arguments ,*args
#If the number of arguments is unknown, add a * before the parameter name:

def my_function(*kids):
    print("The youngest child is "+ kids[2])
    
my_function("Emil","Tobias","Linus")

The youngest child is Linus

In [426]:
# Keyword arguments
# You can also send arguments with the key=value syntax

def my_function(child3,child2,child1):
    print("The youngest child is "+ child3)
    
my_function(child1="Emil",child2="Tobias",child3="Linus")

The youngest child is Linus

In [427]:
# Arbirary keyword arguments

def my_function(**kid):
    print("His last name is"+kid["lname"])
    
my_function(fname="Tobias",lname="Refsnes")

His last name isRefsnes

In [428]:
# Default parameter value

def my_function(country="Norway"):
    print("I am from "+country)
    
my_function("sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from sweden
I am from India
I am from Norway
I am from Brazil

In [429]:
# Passing a list as an argument
def my_function(food):
    for x in food:
        print(x)
        
fruits=["apple","banana","cherry"]
my_function(fruits)

apple
banana
cherry

In [432]:
# Return values
def my_function(x):
    return 5 * x
print(my_function(3))
print(my_function(7))
print(my_function(9))

15
35
45

In [433]:
#The pass Statement
# function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

def myfunction():
    pass

In [435]:
# Recursion
# Python also accepts function recursion, which means a defined function can call itself.

def tri_recursion(k):
    if (k>0):
        result=k+tri_recursion(k-1)
        print(result)
    else:
        result=0
    return result

print("\n\nRecursion example results")
tri_recursion(6)

Recursion example results
1
3
6
10
15
21

21

# Python lambda
- A lambda function is a small anonymous function.
- A lambda function can take any number of arguments, but can only have one expression

In [ ]:
# Syntax
lambda arguments: expression

In [436]:
x=lambda a: a+10
print(x(5))

15

In [437]:
y=lambda a:a*9
print(y(8))

72

In [438]:
x=lambda a,b:a*b
print(x(5,6))

30

In [439]:
x=lambda a,b:a*b
print(x(5,9))

45

In [440]:
x=lambda a,b,c:a+b+c
print(x(5,6,7))

18

In [441]:
x=lambda a,b,c:a*b*c
print(x(9,4,2))

72

In [442]:
# why use lambda functions?
# the power of lambda is better shown when you use them as anonymous function inside another function.

def myfunc(n):
    return lambda a:a*n

In [445]:
print(myfunc(8))

<function myfunc.<locals>.<lambda> at 0x0000023C020B60E0>

In [446]:
def myfunc(n):
    return lambda a:a*n
mydoubler =myfunc(2)
print(mydoubler(11))

22

In [448]:
def myfunc(n):
    return lambda a:a*n
mytripler =myfunc(5)
print(mytripler(11))

55

In [450]:
def myfunc(n):
    return lambda a:a*n
mydoubler=myfunc(2)
mytripler=myfunc(5)

print(mydoubler(11))
print(mytripler(11))

22
55

In [ ]:
# Python arrays
# Python does not have built in support for arrays, but python lists can be used instead.

# Arrays
- Arrays are used to store multiple values in one single variable.
- An array can hold many values under a single name, and you can access the values by referring to an index number.

In [452]:
# Create an array containing car names:
cars=["Ford","volvo","BMW"]
cars

['Ford', 'volvo', 'BMW']

In [453]:
for x in cars:
    print(x)

Ford
volvo
BMW

In [454]:
cars[0]

'Ford'

In [456]:
x=len(cars)
x

3

In [458]:
cars.append("Honda")
cars

['Ford', 'volvo', 'BMW', 'Honda', 'Honda']

In [459]:
cars.pop(1)

'volvo'

In [460]:
cars

['Ford', 'BMW', 'Honda', 'Honda']

In [461]:
cars.remove("Honda")

In [462]:
cars

['Ford', 'BMW', 'Honda']

#Python classes and objects
- python is an object oriented programming language
- almost everything in python is an object, with its properties and methods
- a class is like an object constructor, or a "blueprint' for creating objects.

#Create a class
- To create a class, use the keyword class:

In [463]:
# Create a class
class Myclass:
    x=5

In [464]:
# create object
p1=Myclass()
print(p1.x)

5

In [465]:
# The __init__() function
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
p1=Person("John",36)
print(p1.name)
print(p1.age)

John
36

In [467]:
# the _str_() function
# example without str fun
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
p1=Person("MIke",45)
print(p1)

<__main__.Person object at 0x0000023C02376C80>

In [468]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    def __str__(self):
        return f"{self.name}({self.age})"
    
p1=Person("John",36)
print(p1)

John(36)

In [ ]:
# Object Methods:
- object can also contain methods.methods in object are functions that belong to the object.
- Let us create a method in the person class

In [469]:
#Insert a function that prints a greeting , and execute it on the p1 object.
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    def myfunc(self):
        print("Hello my name is "+ self.name)
        
p1=Person("John",36)
p1.myfunc()

Hello my name is John

# Python inheritance
- Inheritance allows us to define a class that inherits all the methoda and properties from another class.
- parent class is the class being inherited from , also called base class.
- child class is the class that inherits from another class , also called drived class.

In [ ]:
# Create a parent class
# create a class named person, with firstname and lastname properties, and a printname method.

In [473]:
class Person:
    def __init__(self,fname,lname):
        self.firstname=fname
        self.lastname=lname
        
    def printname(self):
        print(self.firstname,self.lastname)
        
x=Person("John","Doe")
x.printname()

John Doe

In [474]:
# Create a child class
class Student(Person):
    pass

In [475]:
x=Student("Mike","Olsen")
x.printname()

Mike Olsen

In [ ]:
# Python iterators
- An iterator is an object that contains a countable number of vlaues
- an iterator is an object that can be iterated upon,meaning that you can traverse through all the values.

In [478]:
mytuple=('pen',"pencil","book")
myit=iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

pen
pencil
book

In [479]:
mystr="banana"
myit=iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [481]:
# Looping through an iteratoe
mytuple=("apple","google","meta")
for x in mytuple:
    print(x)

apple
google
meta

In [482]:
mystr="microsoft"
for x in mystr:
    print(x)

m
i
c
r
o
s
o
f
t

In [484]:
# Create an iterartor
class MyNumbers:
    def __iter__(self):
        self.a=1
        return self
    def __next__(self):
        x=self.a
        self.a +=1
        return x
    
myclass=MyNumbers()
myiter=iter(myclass)


print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4

In [488]:
# stop iteration
# stop after 20 iterations
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
 print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [489]:
# Local scope
def myfunc():
    x=300
    print(x)
    
myfunc()

300

In [490]:
# function inside function
def myfunc():
    x=400
    def myinnerfunc():
        print(x)
    myinnerfunc()
    
myfunc()

400

In [491]:
# Python module

def greeting(name):
    print("Hello,"+name)

In [493]:
# Python dates

import datetime

x=datetime.datetime.now()
print(x)

2022-11-25 12:41:01.035525

In [494]:
import datetime
x=datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2022
Friday

In [495]:
# Create a date object

import datetime
x=datetime.datetime(2022,11,25)
print(x)

2022-11-25 00:00:00

In [496]:
# The strftime() method
import datetime

x=datetime.datetime(2022,11,25)
print(x.strftime("%B"))

November

In [497]:
# Python math
x=min(5,10,25)
y=max(5,10,25)

print(x)
print(y)

5
25

In [498]:
x=abs(-7.25)
print(x)

7.25

In [499]:
x=pow(4,3)
print(x)

64

In [500]:
# MATH MODULE
import math
x=math.sqrt(64)
print(x)

8.0

In [502]:
x=math.sqrt(99)
print(x)

9.9498743710662

In [503]:
import math

x=math.ceil(1.4)
y=math.floor(1.4)

print(x)
print(y)

2
1

In [504]:
import math

x=math.pi
print(x)

3.141592653589793

In [506]:
# json in python

import json

x='{"name":"john","age":20,"city":"New york"}'
y=json.loads(x)
y

{'name': 'john', 'age': 20, 'city': 'New york'}

In [507]:
print(y['age'])

20

In [508]:
# Convert from python to json
x={
    "name":"john",
    "age":52,
    "city":"New york"
}

y=json.dumps(x)
print(y)

{"name": "john", "age": 52, "city": "New york"}

In [509]:
x

{'name': 'john', 'age': 52, 'city': 'New york'}

In [511]:
import json

x={
    "name":"Mike",
    "age":26,
    "married":True,
    "divorced":False,
    "children":("Ann","Billy"),
    "pets":None,
    "cars":[
        {"model":"BMW 230","MPG":27.6},
        {"model":"ford edge","mpg":24.1}
    ]
}

print(json.dumps(x))

{"name": "Mike", "age": 26, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "MPG": 27.6}, {"model": "ford edge", "mpg": 24.1}]}

In [514]:
# format the result
json.dumps(x,indent=4)

'{\n    "name": "Mike",\n    "age": 26,\n    "married": true,\n    "divorced": false,\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "pets": null,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "MPG": 27.6\n        },\n        {\n            "model": "ford edge",\n            "mpg": 24.1\n        }\n    ]\n}'

In [515]:
json.dumps(x,indent=4,separators=(".","="))

'{\n    "name"="Mike".\n    "age"=26.\n    "married"=true.\n    "divorced"=false.\n    "children"=[\n        "Ann".\n        "Billy"\n    ].\n    "pets"=null.\n    "cars"=[\n        {\n            "model"="BMW 230".\n            "MPG"=27.6\n        }.\n        {\n            "model"="ford edge".\n            "mpg"=24.1\n        }\n    ]\n}'

In [516]:
# order the result
json.dumps(x,indent=4, sort_keys=True)

'{\n    "age": 26,\n    "cars": [\n        {\n            "MPG": 27.6,\n            "model": "BMW 230"\n        },\n        {\n            "model": "ford edge",\n            "mpg": 24.1\n        }\n    ],\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "divorced": false,\n    "married": true,\n    "name": "Mike",\n    "pets": null\n}'

In [520]:
# RegEx in python

import re
txt="The rain in Spain"
x=re.search("^ The.* Spain$",txt)

In [523]:
print(x)

None

In [524]:
# the findall() function

import re

txt=" The rain in Spain"
x=re.findall("ai",txt)
print(x)

['ai', 'ai']

In [526]:
import re

txt="The rain in Spain"
x=re.findall("Portugal",txt)
print(x)
# Return an emputy list if no match was found.

[]

In [527]:
!pip install camelcase

Collecting camelcase
  Using cached camelcase-0.2-py3-none-any.whl
Installing collected packages: camelcase
Successfully installed camelcase-0.2

In [528]:
import camelcase
c=camelcase.CamelCase()
txt="hello world"
print(c.hump(txt))

Hello World

In [530]:
try:
    print(x)
except:
    print("An exception occured")

[]

In [534]:
# Many exception

try:
    print(x)
except NameError:
    print("Variable x is not defined")
except:
    print("Something else went wrong")

[]

In [535]:
# Python user input

username=input('Enter username:')
print("Username is:" + username)

Enter username:izhar sami
Username is:izhar sami

In [536]:
emp_id=input("Enter emp_id")
print("emp_id is:"+ emp_id)

Enter emp_id2586
emp_id is:2586

In [556]:
# open file
f=open("frequentPatterns.txt","r")
print(f.read())

Hi,
My name is izhar sami
I am working as datascientist.

In [559]:
for x in f:
    print(x)

In [560]:
f.close()

In [562]:
print(f.read())

ValueError: I/O operation on closed file.

In [563]:
# open file
f=open("frequentPatterns.txt","r")
print(f.read())

Hi,
My name is izhar sami
I am working as datascientist.

In [565]:
# write to existing file
f=open("frequentPatterns.txt","a")
f.write("Python,Sql, ml,dl,nlp are important to learn for datascientist")
f.close()

In [566]:
f=open("frequentPatterns.txt","r")
print(f.read())

Hi,
My name is izhar sami
I am working as datascientist.Python,Sql, ml,dl,nlp are important to learn for datascientist

In [2]:
! pip install mysql-connector

Collecting mysql-connector
  Using cached mysql-connector-2.2.9.tar.gz (11.9 MB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp310-cp310-win_amd64.whl size=247947 sha256=776666fc4cc30a830750bd985e87224d10ec9f2b6d315b53e1cba99f2c8dbb53
  Stored in directory: c:\users\ab-dw-06\appdata\local\pip\cache\wheels\76\48\9b\da67ff1a18fe8e9d428f9b1a177716d4a7d363d2bbe83bf6cf
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [4]:
# Create connection

In [3]:
import mysql.connector

import socket
socket.getaddrinfo('119.228.86.158', 3306)


mydb = mysql.connector.connect(
  host="localhost",
  user="Izhar",
  password="IzharSami@123",
    database= "Izhar"
)

print(mydb)