In [1]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [2]:
help()

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> pandas

C:\Users\AB-DW-06\anaconda3\envs\PN100NEW\lib\inspect.py:469: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  value = getattr(object, key)
C:\Users\AB-DW-06\anaconda3\envs\PN100NEW\lib\inspect.py:469: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  value = getattr(object, key)
C:\Users\AB-DW-06\anaconda3\envs\PN100NEW\lib\inspect.py:469: FutureWarning: pandas.UInt64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  value = getattr(object, key)
IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

help> numpy
help> matplotlib
Help on package matplotlib:

NAME
    matplotlib - An object-oriented plotting library.

DESCRIPTION
    A procedural interface is provided by the companion pyplot module,
    which may be imported directly, e.g.::

        import matplotlib.pyplot as plt

    or using ipython::

        ipython

    at your terminal, followed by::

        In [1]: %matplotlib
        In [2]: import matplotlib.pyplot as plt

    at the ipython shell prompt.

    For the most part, direct use of the object-oriented library is encouraged when
    programming; pyplot is primarily for working interactively.  The exceptions are
    the pyplot functions `.pyplot.figure`, `.pyplot.subplot`, `.pyplot.subplots`,
    and `.pyplot.savefig`, which can greatly simplify scripting.

    Modules include:

        :mod:`matplotlib.axes`
            The `~.axes.Axes` class.  Most pyplot functions are wrappers for
            `~.axes.Axes` methods.  The axes module is the highest level of OO
            access to the library.

        :mod:`matplotlib.figure`
            The `.Figure` class.

        :mod:`matplotlib.artist`
            The `.Artist` base class for all classes that draw things.

        :mod:`matplotlib.lines`
            The `.Line2D` class for drawing lines and markers.

        :mod:`matplotlib.patches`
            Classes for drawing polygons.

        :mod:`matplotlib.text`
            The `.Text` and `.Annotation` classes.

        :mod:`matplotlib.image`
            The `.AxesImage` and `.FigureImage` classes.

        :mod:`matplotlib.collections`
            Classes for efficient drawing of groups of lines or polygons.

        :mod:`matplotlib.colors`
            Color specifications and making colormaps.

        :mod:`matplotlib.cm`
            Colormaps, and the `.ScalarMappable` mixin class for providing color
            mapping functionality to other classes.

        :mod:`matplotlib.ticker`
            Calculation of tick mark locations and formatting of tick labels.

        :mod:`matplotlib.backends`
            A subpackage with modules for various GUI libraries and output formats.

    The base matplotlib namespace includes:

        `~matplotlib.rcParams`
            Default configuration settings; their defaults may be overridden using
            a :file:`matplotlibrc` file.

        `~matplotlib.use`
            Setting the Matplotlib backend.  This should be called before any
            figure is created, because it is not possible to switch between
            different GUI backends after that.

    Matplotlib was initially written by John D. Hunter (1968-2012) and is now
    developed and maintained by a host of others.

    Occasionally the internal documentation (python docstrings) will refer
    to MATLAB&reg;, a registered trademark of The MathWorks, Inc.

PACKAGE CONTENTS
    _animation_data
    _api (package)
    _blocking_input
    _c_internal_utils
    _cm
    _cm_listed
    _color_data
    _constrained_layout
    _contour
    _enums
    _image
    _internal_utils
    _layoutgrid
    _mathtext
    _mathtext_data
    _path
    _pylab_helpers
    _qhull
    _text_helpers
    _tri
    _ttconv
    _version
    afm
    animation
    artist
    axes (package)
    axis
    backend_bases
    backend_managers
    backend_tools
    backends (package)
    bezier
    blocking_input
    category
    cbook (package)
    cm
    collections
    colorbar
    colors
    container
    contour
    dates
    docstring
    dviread
    figure
    font_manager
    fontconfig_pattern
    ft2font
    gridspec
    hatch
    image
    legend
    legend_handler
    lines
    markers
    mathtext
    mlab
    offsetbox
    patches
    path
    patheffects
    projections (package)
    pylab
    pyplot
    quiver
    rcsetup
    sankey
    scale
    sphinxext (package)
    spines
    stackplot
    streamplot
    style (package)
    table
    testing (package)
    tests (package)
    texmanager
    text
    textpath
    ticker
    tight_bbox
    tight_layout
    transforms
    tri (package)
    type1font
    units
    widgets

CLASSES
    builtins.FileNotFoundError(builtins.OSError)
        ExecutableNotFoundError
    builtins.dict(builtins.object)
        RcParams(collections.abc.MutableMapping, builtins.dict)
    collections.abc.MutableMapping(collections.abc.Mapping)
        RcParams(collections.abc.MutableMapping, builtins.dict)

    class ExecutableNotFoundError(builtins.FileNotFoundError)
     |  Error raised when an executable that Matplotlib optionally
     |  depends on can't be found.
     |
     |  Method resolution order:
     |      ExecutableNotFoundError
     |      builtins.FileNotFoundError
     |      builtins.OSError
     |      builtins.Exception
     |      builtins.BaseException
     |      builtins.object
     |
     |  Data descriptors defined here:
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.FileNotFoundError:
     |
     |  __init__(self, /, *args, **kwargs)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.OSError:
     |
     |  __reduce__(...)
     |      Helper for pickle.
     |
     |  __str__(self, /)
     |      Return str(self).
     |
     |  ----------------------------------------------------------------------
     |  Static methods inherited from builtins.OSError:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from builtins.OSError:
     |
     |  characters_written
     |
     |  errno
     |      POSIX exception code
     |
     |  filename
     |      exception filename
     |
     |  filename2
     |      second exception filename
     |
     |  strerror
     |      exception strerror
     |
     |  winerror
     |      Win32 exception code
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.BaseException:
     |
     |  __delattr__(self, name, /)
     |      Implement delattr(self, name).
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __setattr__(self, name, value, /)
     |      Implement setattr(self, name, value).
     |
     |  __setstate__(...)
     |
     |  with_traceback(...)
     |      Exception.with_traceback(tb) --
     |      set self.__traceback__ to tb and return self.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from builtins.BaseException:
     |
     |  __cause__
     |      exception cause
     |
     |  __context__
     |      exception context
     |
     |  __dict__
     |
     |  __suppress_context__
     |
     |  __traceback__
     |
     |  args

    class RcParams(collections.abc.MutableMapping, builtins.dict)
     |  RcParams(*args, **kwargs)
     |
     |  A dictionary object including validation.
     |
     |  Validating functions are defined and associated with rc parameters in
     |  :mod:`matplotlib.rcsetup`.
     |
     |  The list of rcParams is:
     |
     |  - _internal.classic_mode
     |  - agg.path.chunksize
     |  - animation.bitrate
     |  - animation.codec
     |  - animation.convert_args
     |  - animation.convert_path
     |  - animation.embed_limit
     |  - animation.ffmpeg_args
     |  - animation.ffmpeg_path
     |  - animation.frame_format
     |  - animation.html
     |  - animation.writer
     |  - axes.autolimit_mode
     |  - axes.axisbelow
     |  - axes.edgecolor
     |  - axes.facecolor
     |  - axes.formatter.limits
     |  - axes.formatter.min_exponent
     |  - axes.formatter.offset_threshold
     |  - axes.formatter.use_locale
     |  - axes.formatter.use_mathtext
     |  - axes.formatter.useoffset
     |  - axes.grid
     |  - axes.grid.axis
     |  - axes.grid.which
     |  - axes.labelcolor
     |  - axes.labelpad
     |  - axes.labelsize
     |  - axes.labelweight
     |  - axes.linewidth
     |  - axes.prop_cycle
     |  - axes.spines.bottom
     |  - axes.spines.left
     |  - axes.spines.right
     |  - axes.spines.top
     |  - axes.titlecolor
     |  - axes.titlelocation
     |  - axes.titlepad
     |  - axes.titlesize
     |  - axes.titleweight
     |  - axes.titley
     |  - axes.unicode_minus
     |  - axes.xmargin
     |  - axes.ymargin
     |  - axes.zmargin
     |  - axes3d.grid
     |  - backend
     |  - backend_fallback
     |  - boxplot.bootstrap
     |  - boxplot.boxprops.color
     |  - boxplot.boxprops.linestyle
     |  - boxplot.boxprops.linewidth
     |  - boxplot.capprops.color
     |  - boxplot.capprops.linestyle
     |  - boxplot.capprops.linewidth
     |  - boxplot.flierprops.color
     |  - boxplot.flierprops.linestyle
     |  - boxplot.flierprops.linewidth
     |  - boxplot.flierprops.marker
     |  - boxplot.flierprops.markeredgecolor
     |  - boxplot.flierprops.markeredgewidth
     |  - boxplot.flierprops.markerfacecolor
     |  - boxplot.flierprops.markersize
     |  - boxplot.meanline
     |  - boxplot.meanprops.color
     |  - boxplot.meanprops.linestyle
     |  - boxplot.meanprops.linewidth
     |  - boxplot.meanprops.marker
     |  - boxplot.meanprops.markeredgecolor
     |  - boxplot.meanprops.markerfacecolor
     |  - boxplot.meanprops.markersize
     |  - boxplot.medianprops.color
     |  - boxplot.medianprops.linestyle
     |  - boxplot.medianprops.linewidth
     |  - boxplot.notch
     |  - boxplot.patchartist
     |  - boxplot.showbox
     |  - boxplot.showcaps
     |  - boxplot.showfliers
     |  - boxplot.showmeans
     |  - boxplot.vertical
     |  - boxplot.whiskerprops.color
     |  - boxplot.whiskerprops.linestyle
     |  - boxplot.whiskerprops.linewidth
     |  - boxplot.whiskers
     |  - contour.corner_mask
     |  - contour.linewidth
     |  - contour.negative_linestyle
     |  - date.autoformatter.day
     |  - date.autoformatter.hour
     |  - date.autoformatter.microsecond
     |  - date.autoformatter.minute
     |  - date.autoformatter.month
     |  - date.autoformatter.second
     |  - date.autoformatter.year
     |  - date.converter
     |  - date.epoch
     |  - date.interval_multiples
     |  - docstring.hardcopy
     |  - errorbar.capsize
     |  - figure.autolayout
     |  - figure.constrained_layout.h_pad
     |  - figure.constrained_layout.hspace
     |  - figure.constrained_layout.use
     |  - figure.constrained_layout.w_pad
     |  - figure.constrained_layout.wspace
     |  - figure.dpi
     |  - figure.edgecolor
     |  - figure.facecolor
     |  - figure.figsize
     |  - figure.frameon
     |  - figure.max_open_warning
     |  - figure.raise_window
     |  - figure.subplot.bottom
     |  - figure.subplot.hspace
     |  - figure.subplot.left
     |  - figure.subplot.right
     |  - figure.subplot.top
     |  - figure.subplot.wspace
     |  - figure.titlesize
     |  - figure.titleweight
     |  - font.cursive
     |  - font.family
     |  - font.fantasy
     |  - font.monospace
     |  - font.sans-serif
     |  - font.serif
     |  - font.size
     |  - font.stretch
     |  - font.style
     |  - font.variant
     |  - font.weight
     |  - grid.alpha
     |  - grid.color
     |  - grid.linestyle
     |  - grid.linewidth
     |  - hatch.color
     |  - hatch.linewidth
     |  - hist.bins
     |  - image.aspect
     |  - image.cmap
     |  - image.composite_image
     |  - image.interpolation
     |  - image.lut
     |  - image.origin
     |  - image.resample
     |  - interactive
     |  - keymap.back
     |  - keymap.copy
     |  - keymap.forward
     |  - keymap.fullscreen
     |  - keymap.grid
     |  - keymap.grid_minor
     |  - keymap.help
     |  - keymap.home
     |  - keymap.pan
     |  - keymap.quit
     |  - keymap.quit_all
     |  - keymap.save
     |  - keymap.xscale
     |  - keymap.yscale
     |  - keymap.zoom
     |  - legend.borderaxespad
     |  - legend.borderpad
     |  - legend.columnspacing
     |  - legend.edgecolor
     |  - legend.facecolor
     |  - legend.fancybox
     |  - legend.fontsize
     |  - legend.framealpha
     |  - legend.frameon
     |  - legend.handleheight
     |  - legend.handlelength
     |  - legend.handletextpad
     |  - legend.labelcolor
     |  - legend.labelspacing
     |  - legend.loc
     |  - legend.markerscale
     |  - legend.numpoints
     |  - legend.scatterpoints
     |  - legend.shadow
     |  - legend.title_fontsize
     |  - lines.antialiased
     |  - lines.color
     |  - lines.dash_capstyle
     |  - lines.dash_joinstyle
     |  - lines.dashdot_pattern
     |  - lines.dashed_pattern
     |  - lines.dotted_pattern
     |  - lines.linestyle
     |  - lines.linewidth
     |  - lines.marker
     |  - lines.markeredgecolor
     |  - lines.markeredgewidth
     |  - lines.markerfacecolor
     |  - lines.markersize
     |  - lines.scale_dashes
     |  - lines.solid_capstyle
     |  - lines.solid_joinstyle
     |  - markers.fillstyle
     |  - mathtext.bf
     |  - mathtext.cal
     |  - mathtext.default
     |  - mathtext.fallback
     |  - mathtext.fontset
     |  - mathtext.it
     |  - mathtext.rm
     |  - mathtext.sf
     |  - mathtext.tt
     |  - patch.antialiased
     |  - patch.edgecolor
     |  - patch.facecolor
     |  - patch.force_edgecolor
     |  - patch.linewidth
     |  - path.effects
     |  - path.simplify
     |  - path.simplify_threshold
     |  - path.sketch
     |  - path.snap
     |  - pcolor.shading
     |  - pcolormesh.snap
     |  - pdf.compression
     |  - pdf.fonttype
     |  - pdf.inheritcolor
     |  - pdf.use14corefonts
     |  - pgf.preamble
     |  - pgf.rcfonts
     |  - pgf.texsystem
     |  - polaraxes.grid
     |  - ps.distiller.res
     |  - ps.fonttype
     |  - ps.papersize
     |  - ps.useafm
     |  - ps.usedistiller
     |  - savefig.bbox
     |  - savefig.directory
     |  - savefig.dpi
     |  - savefig.edgecolor
     |  - savefig.facecolor
     |  - savefig.format
     |  - savefig.orientation
     |  - savefig.pad_inches
     |  - savefig.transparent
     |  - scatter.edgecolors
     |  - scatter.marker
     |  - svg.fonttype
     |  - svg.hashsalt
     |  - svg.image_inline
     |  - text.antialiased
     |  - text.color
     |  - text.hinting
     |  - text.hinting_factor
     |  - text.kerning_factor
     |  - text.latex.preamble
     |  - text.usetex
     |  - timezone
     |  - tk.window_focus
     |  - toolbar
     |  - webagg.address
     |  - webagg.open_in_browser
     |  - webagg.port
     |  - webagg.port_retries
     |  - xaxis.labellocation
     |  - xtick.alignment
     |  - xtick.bottom
     |  - xtick.color
     |  - xtick.direction
     |  - xtick.labelbottom
     |  - xtick.labelcolor
     |  - xtick.labelsize
     |  - xtick.labeltop
     |  - xtick.major.bottom
     |  - xtick.major.pad
     |  - xtick.major.size
     |  - xtick.major.top
     |  - xtick.major.width
     |  - xtick.minor.bottom
     |  - xtick.minor.pad
     |  - xtick.minor.size
     |  - xtick.minor.top
     |  - xtick.minor.visible
     |  - xtick.minor.width
     |  - xtick.top
     |  - yaxis.labellocation
     |  - ytick.alignment
     |  - ytick.color
     |  - ytick.direction
     |  - ytick.labelcolor
     |  - ytick.labelleft
     |  - ytick.labelright
     |  - ytick.labelsize
     |  - ytick.left
     |  - ytick.major.left
     |  - ytick.major.pad
     |  - ytick.major.right
     |  - ytick.major.size
     |  - ytick.major.width
     |  - ytick.minor.left
     |  - ytick.minor.pad
     |  - ytick.minor.right
     |  - ytick.minor.size
     |  - ytick.minor.visible
     |  - ytick.minor.width
     |  - ytick.right
     |
     |  See Also
     |  --------
     |  :ref:`customizing-with-matplotlibrc-files`
     |
     |  Method resolution order:
     |      RcParams
     |      collections.abc.MutableMapping
     |      collections.abc.Mapping
     |      collections.abc.Collection
     |      collections.abc.Sized
     |      collections.abc.Iterable
     |      collections.abc.Container
     |      builtins.dict
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __getitem__(self, key)
     |      x.__getitem__(y) <==> x[y]
     |
     |  __init__(self, *args, **kwargs)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  __iter__(self)
     |      Yield sorted list of keys.
     |
     |  __len__(self)
     |      Return len(self).
     |
     |  __repr__(self)
     |      Return repr(self).
     |
     |  __setitem__(self, key, val)
     |      Set self[key] to value.
     |
     |  __str__(self)
     |      Return str(self).
     |
     |  copy(self)
     |      D.copy() -> a shallow copy of D
     |
     |  find_all(self, pattern)
     |      Return the subset of this RcParams dictionary whose keys match,
     |      using :func:`re.search`, the given ``pattern``.
     |
     |      .. note::
     |
     |          Changes to the returned dictionary are *not* propagated to
     |          the parent RcParams dictionary.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  __abstractmethods__ = frozenset({'__delitem__'})
     |
     |  validate = {'_internal.classic_mode': <function validate_bool>, 'agg.p...
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from collections.abc.MutableMapping:
     |
     |  __delitem__(self, key)
     |
     |  clear(self)
     |      D.clear() -> None.  Remove all items from D.
     |
     |  pop(self, key, default=<object object at 0x000001F1D4204170>)
     |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
     |      If key is not found, d is returned if given, otherwise KeyError is raised.
     |
     |  popitem(self)
     |      D.popitem() -> (k, v), remove and return some (key, value) pair
     |      as a 2-tuple; but raise KeyError if D is empty.
     |
     |  setdefault(self, key, default=None)
     |      D.setdefault(k[,d]) -> D.get(k,d), also set D[k]=d if k not in D
     |
     |  update(self, other=(), /, **kwds)
     |      D.update([E, ]**F) -> None.  Update D from mapping/iterable E and F.
     |      If E present and has a .keys() method, does:     for k in E: D[k] = E[k]
     |      If E present and lacks .keys() method, does:     for (k, v) in E: D[k] = v
     |      In either case, this is followed by: for k, v in F.items(): D[k] = v
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from collections.abc.Mapping:
     |
     |  __contains__(self, key)
     |
     |  __eq__(self, other)
     |      Return self==value.
     |
     |  get(self, key, default=None)
     |      D.get(k[,d]) -> D[k] if k in D, else d.  d defaults to None.
     |
     |  items(self)
     |      D.items() -> a set-like object providing a view on D's items
     |
     |  keys(self)
     |      D.keys() -> a set-like object providing a view on D's keys
     |
     |  values(self)
     |      D.values() -> an object providing a view on D's values
     |

help> quit

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [3]:
help()

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> seaborn
Help on package seaborn:

NAME
    seaborn - # Import seaborn objects

PACKAGE CONTENTS
    _core
    _decorators
    _docstrings
    _statistics
    _testing
    algorithms
    apionly
    axisgrid
    categorical
    cm
    colors (package)
    conftest
    distributions
    external (package)
    linearmodels
    matrix
    miscplot
    palettes
    rcmod
    regression
    relational
    tests (package)
    timeseries
    utils
    widgets

DATA
    crayons = {'Almond': '#EFDECD', 'Antique Brass': '#CD9575', 'Apricot':...
    xkcd_rgb = {'acid green': '#8ffe09', 'adobe': '#bd6c48', 'algae': '#54...

VERSION
    0.11.2

FILE
    c:\users\ab-dw-06\appdata\roaming\python\python310\site-packages\seaborn\__init__.py


help> panda
No Python documentation found for 'panda'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> pandas

C:\Users\AB-DW-06\anaconda3\envs\PN100NEW\lib\inspect.py:469: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  value = getattr(object, key)
C:\Users\AB-DW-06\anaconda3\envs\PN100NEW\lib\inspect.py:469: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  value = getattr(object, key)
C:\Users\AB-DW-06\anaconda3\envs\PN100NEW\lib\inspect.py:469: FutureWarning: pandas.UInt64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  value = getattr(object, key)
IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

help> quit

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [5]:
debug()

NOTE: Enter 'c' at the ipdb>  prompt to continue execution.
> <string>(1)<module>()

ipdb> c

In [6]:
help(round(-2.01))

Help on int object:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Built-in subclasses:
 |      bool
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  as_integer_ratio(self, /)
 |      Return integer ratio.
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original int
 |      and with a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_count(self, /)
 |      Number of ones in the binary representation of the absolute value of self.
 |
 |      Also known as the population count.
 |
 |      >>> bin(13)
 |      '0b1101'
 |      >>> (13).bit_count()
 |      3
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  to_bytes(self, /, length, byteorder, *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder, *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [7]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [8]:
def least_difference(a,b,c):
    diff1=abs(a-b)
    diff2=abs(b-c)
    diff3=abs(a-c)
    return min(diff1,diff2,diff3)

In [9]:
%time

CPU times: total: 0 ns
Wall time: 0 ns

In [10]:
%%time

UsageError: %%time is a cell magic, but the cell body is empty. Did you mean the line magic %time (single %)?

In [11]:
print('Alice blue is the future of stock brokerage')

Alice blue is the future of stock brokerage

In [17]:
def fun(abc):
    a=1
    b=2
    c=3
    return min(a,b,c)

In [19]:
help(a,b,c)

NameError: name 'a' is not defined

In [21]:
def least_difference(a,b,c):
    """ Return the smallest difference between any two numbers among a,b and c."""
    diff1=abs(a-b)
    diff2=abs(b-c)
    diff3=abs(a-c)
    min(diff1,diff2,diff3)
print(least_difference(1,10,100),
     least_difference(1,10,10),
      least_difference(5,6,7),)

None None None

In [22]:
mystery=print()
print(mystery)

None

In [23]:
print(1,2,3,sep='<')

1<2<3

In [25]:
print(4,6,8,sep='<')

4<6<8

In [27]:
def greet(who="colin"):
    print("Hello",who)
greet()
greet(who="Kaggle")

Hello colin
Hello Kaggle

In [28]:
def mult_by_five(x):
    return 5*x
def call (fn,arg):
    return fn(arg)
def squared_call(fn,arg):
    return fn(fn(arg))
print(call(mult_by_five,1),
     squared_call(mult_by_five,1),
     sep='\n')

5
25

In [29]:
x= True
print(x)

True

In [30]:
print(type(x))

<class 'bool'>

In [33]:
def can_run_for_president(age):
    """ Can someone of the given age tun for president in the us"""
    # The us constitution says you must be at least 35 years old
    return age>=35
print('Can a 19-year-old run for the president?',can_run_for_president(19))
print(" can a 45-year-old run for president?",can_run_for_president(52))

Can a 19-year-old run for the president? False
 can a 45-year-old run for president? True

In [34]:
def is_odd(n):
    return (n %2)==1

In [35]:
print(" Is 100 odd?",is_odd(100))

 Is 100 odd? False

In [36]:
print("is -1 odd?",is_odd(-1))

is -1 odd? True

In [37]:
print("is 7 odd?", is_odd(7))

is 7 odd? True

In [39]:
def is_even(n):
    return(n%2)==0
print("is 50 even?",is_even(50))

is 50 even? True

In [40]:
print("is 51 even?",is_even(51))

is 51 even? False

In [45]:
def inspect (x):
    if x ==0:
        print(x, " is zero")
    elif x>0:
        print(x," is positive ")
    elif x<0:
        print(x," is negative")
    else:
        print(x," is unlike anything I've ever seen...")
        
inspect(0)
inspect(-15)
inspect(45)

0  is zero
-15  is negative
45  is positive

In [46]:
print(inspect(45))

45  is positive
None

In [47]:
inspect(60)

60  is positive

In [48]:
# Lists
primes=[2,3,5,7]

In [49]:
planets=['Mercury','Venus','Earth','mars','Neptune']

In [52]:
hands=[['j','q','k'],
     ['2','2','2'],
     ['6','a','k']]

In [53]:
planets[0]

'Mercury'

In [54]:
planets[-1]

'Neptune'

In [55]:
planets[0:1]

['Mercury']

In [56]:
planets[::1]

['Mercury', 'Venus', 'Earth', 'mars', 'Neptune']

In [57]:
planets[-1:]

['Neptune']

In [58]:
planets[1::]

['Venus', 'Earth', 'mars', 'Neptune']

In [59]:
planets[-3:]

['Earth', 'mars', 'Neptune']

In [60]:
planets[3]='Izhar'

In [61]:
planets

['Mercury', 'Venus', 'Earth', 'Izhar', 'Neptune']

In [62]:
len(planets)

5

In [63]:
primes=[2,3,5,7]
sum(primes)

17

In [64]:
max(primes)

7

In [65]:
x=12
print(x.imag)

0

In [66]:
c=12+3j
print(c.imag)

3.0

In [67]:
x.bit_length

In [68]:
x.bit_length()

4

In [69]:
planets.append('Pluto')

In [70]:
planets

['Mercury', 'Venus', 'Earth', 'Izhar', 'Neptune', 'Pluto']

In [71]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [72]:
help(planets.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [73]:
planets.pop()

'Pluto'

In [75]:
planets

['Mercury', 'Venus', 'Earth', 'Izhar', 'Neptune']

In [77]:
planets.pop(1)

'Venus'

In [78]:
planets

['Mercury', 'Earth', 'Izhar']

In [79]:
planets.index('Izhar')

2

In [80]:
# Is earth a planet?
"Earth" in planets

True

In [81]:
"Pluto" in planets

False

In [85]:
planets.count(1)

0

# Tuples 
# Tuples are almost exactly the same as lists. they differ in just two ways.
the syntax for creating them uses parenthesis instead of square brackets.

In [86]:
t=(1,2,3)

In [87]:
t=1,2,3

In [88]:
t

(1, 2, 3)

In [89]:
# they cannot be modified they are immutable

In [90]:
t[0]=100

TypeError: 'tuple' object does not support item assignment

# LOOPS
-loops are a way to repeatedly execute some code.Here's an example

In [92]:
planets=['Mercury','venus','earth','Mars','Jupiter','saturn','uranus','neptune']
for planet in planets:
    print(planet,end=' ') # print all on same line

Mercury venus earth Mars Jupiter saturn uranus neptune

In [94]:
print(planets)

['Mercury', 'venus', 'earth', 'Mars', 'Jupiter', 'saturn', 'uranus', 'neptune']

In [95]:
multiplicands=(2,2,2,3,3,5)
product=1
for mult in multiplicands:
    product = product * mult
product

360

In [96]:
s='wddefhou dwhfnc HojojcpojEjljolv L OJOE ljijip'
msg=''
# print all the uppercase letters in s, one at a time
for char in s:
    if char.isupper():
        print(char,end='')

HELOJOE

In [97]:
for char in s:
    if char.islower():
        print(char,end='')

wddefhoudwhfncojojcpojjljolvljijip

# range()
- range() is a function that returns a sequence of numbers . it turns out to be very useful for writing loops.

for example , if we want to repeat some action 5 times.

In [98]:
for i in range (5):
    print(" Doing important work . i=",i)

 Doing important work . i= 0
 Doing important work . i= 1
 Doing important work . i= 2
 Doing important work . i= 3
 Doing important work . i= 4

#### while loops
###### the other type of loop in python is a while loop, which iteraates until some condition is met.

In [100]:
i=0
while i<10:
    print(i,end=" ")
    i+=1

0 1 2 3 4 5 6 7 8 9

In [101]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### List comprehensions
- List comprehensions are one of Python's most beloved and unique features.

In [103]:
squares=[n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [104]:
# here's how we would do the same thing without a list comprehension

In [105]:
squares=[]
for n in range(10):
    squares.append(n**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [107]:
# we can also add an if condition

short_planets=[planet for planet in planets if len(planet)<6]
short_planets

['venus', 'earth', 'Mars']

In [108]:
def count_negatives(nums):
    """ Return the number of negative numbers in the given list.
    >>> count_negatives([5,-5,2,-6,0])"""
    n_negative=0
    for num in nums:
        if num < 0:
            n_negative=n_negative+1
    return n_negative

In [109]:
def count_negatives(nums):
    return len([num for num in nums if num<0])

In [110]:
def count_negatives(nums):
    return sum([num<0 for num in nums])

In [112]:
Claims='pluto is a planet'
words=Claims.split()
words

['pluto', 'is', 'a', 'planet']

In [115]:
Claims.startswith('planet')

False

In [118]:
words=Claims.split()
words

['pluto', 'is', 'a', 'planet']

In [119]:
datestr='1956-01-31'
year,month,day=datestr.split('-')

In [120]:
year

'1956'

In [121]:
month

'01'

In [122]:
day

'31'

In [123]:
'/'.join([month,day,year])

'01/31/1956'

In [124]:
' **' .join([word.upper() for word in words])

'PLUTO **IS **A **PLANET'

In [126]:
'@' . join([Claims.upper() for word in Claims])

'PLUTO IS A PLANET@PLUTO IS A PLANET@PLUTO IS A PLANET@PLUTO IS A PLANET@PLUTO IS A PLANET@PLUTO IS A PLANET@PLUTO IS A PLANET@PLUTO IS A PLANET@PLUTO IS A PLANET@PLUTO IS A PLANET@PLUTO IS A PLANET@PLUTO IS A PLANET@PLUTO IS A PLANET@PLUTO IS A PLANET@PLUTO IS A PLANET@PLUTO IS A PLANET@PLUTO IS A PLANET'

In [129]:
'IBT15 Brokerage' +' is best brokerage plan.'

'IBT15 Brokerage is best brokerage plan.'

In [130]:
def add_three(input_var):
    output_var=input_var+3
    return output_var

In [131]:
def get_pay(num_hours):
    pay_pretax=num_hours*15
    pay_aftertax=pay_pretax*(1-.12)
    return pay_aftertax

In [132]:
pay_fulltime=get_pay(40)
print(pay_fulltime)

528.0

In [ ]:
import pandas as pd
df = pd.read_csv('nyc_weather.csv')
df

In [ ]:
df['Temperature'].max()

In [ ]:
df['EST'][df['Events']=='Rain']

In [ ]:
df.fillna(0, inplace=True)
df['WindSpeedMPH'].mean()

In [ ]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df = pd.read_csv("weather_data.csv")
df

In [ ]:
df[1:3]

In [ ]:
df.tail() # df.tail(2)

In [ ]:
df.head() # df.head(3)

In [ ]:
df.shape # rows, columns = df.shape

In [ ]:
df.columns

In [ ]:
df['day'] # or df.day

In [ ]:
type(df['day'])

In [ ]:
df[['day','temperature']]

Operations On DataFrame

In [ ]:
df['temperature'].max()

In [ ]:
df[df['temperature']>32]

In [ ]:
df['day'][df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

In [ ]:
df[df['temperature'] == df['temperature'].max()] # Kinda doing SQL in pandas

In [ ]:
df['temperature'].std()

In [ ]:
df['event'].max() # But mean() won't work since data type is string

In [ ]:
df.describe()

set_index

In [ ]:
df.set_index('day')

In [ ]:
df.set_index('day', inplace=True)

In [ ]:
df.index

In [ ]:
df.loc['1/2/2017']

In [ ]:
df.reset_index(inplace=True)
df.head()

In [ ]:
df.set_index('event',inplace=True) # this is kind of building a hash map using event as a key
df

In [ ]:
df.loc['Snow']

In [ ]:
df = pd.read_csv("stock_data.csv", skiprows=1)
df

In [ ]:
df = pd.read_csv("stock_data.csv", header=1) # skiprows and header are kind of same
df

In [ ]:
df = pd.read_csv("stock_data.csv", header=None, names = ["ticker","eps","revenue","people"])
df

In [ ]:
df = pd.read_csv("stock_data.csv",  nrows=2)
df

In [ ]:
df = pd.read_csv("stock_data.csv", na_values=["n.a.", "not available"])
df

In [ ]:
df.to_csv("new.csv", index=False)

In [ ]:
df = pd.read_excel("stock_data.xlsx","Sheet1")
df

In [ ]:
df.to_excel("new.xlsx", sheet_name="stocks", index=False, startrow=2, startcol=1)

Write two dataframes to two separate sheets in excel

In [ ]:
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [ ]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name="weather")

# Handling Missing Data - fillna, interpolate, dropna

In [ ]:
import pandas as pd
df = pd.read_csv("weather_data.csv",parse_dates=['day'])
type(df.day[0])
df

In [ ]:
df.set_index('day',inplace=True)
df

# fillna
**Fill all NaN with one specific value**

In [ ]:
new_df = df.fillna(0)
new_df

# **Fill na using column names and dict**

In [ ]:
new_df = df.fillna({
        'temperature': 0,
        'windspeed': 0,
        'event': 'No Event'
    })
new_df

**Use method to determine how to fill na values**

In [ ]:
new_df = df.fillna(method="ffill")
new_df

In [ ]:
new_df = df.fillna(method="bfill")
new_df

**Use of axis**

In [ ]:
new_df = df.fillna(method="bfill", axis="columns") # axis is either "index" or "columns"
new_df

**limit parameter**

In [ ]:
new_df = df.fillna(method="ffill",limit=1)
new_df

interpolate

In [ ]:
new_df = df.interpolate()
new_df

In [ ]:
new_df = df.interpolate(method="time") 
new_df

In [ ]:
new_df = df.dropna()
new_df

In [ ]:
new_df = df.dropna(how='all')
new_df

In [ ]:
new_df = df.dropna(thresh=1)
new_df

Inserting Missing Dates

dt = pd.date_range("01-01-2017","01-11-2017")
idx = pd.DatetimeIndex(dt)
df.reindex(idx)

Handling Missing Data - replace method

Replacing single value

In [ ]:
new_df = df.replace(-99999, value=np.NaN)
new_df

Replacing list with single value

In [ ]:
new_df = df.replace(to_replace=[-99999,-88888], value=0)
new_df

Replacing per column

In [ ]:
new_df = df.replace({
        'temperature': -99999,
        'windspeed': -99999,
        'event': '0'
    }, np.nan)
new_df

Replacing by using mapping

In [ ]:
new_df = df.replace({
        -99999: np.nan,
        'no event': 'Sunny',
    })
new_df

Regex

In [ ]:
# when windspeed is 6 mph, 7 mph etc. & temperature is 32 F, 28 F etc.
new_df = df.replace({'temperature': '[A-Za-z]', 'windspeed': '[a-z]'},'', regex=True) 
new_df

Replacing list with another list

In [ ]:
df = pd.DataFrame({
    'score': ['exceptional','average', 'good', 'poor', 'average', 'exceptional'],
    'student': ['rob', 'maya', 'parthiv', 'tom', 'julian', 'erica']
})
df

In [ ]:
df.replace(['poor', 'average', 'good', 'exceptional'], [1,2,3,4])

# Pandas Group By
In this tutorial we are going to look at weather data from various cities and see how group by can be used to run some analytics.

In [ ]:
import pandas as pd
df = pd.read_csv("weather_by_cities.csv")
df

# For this dataset, get following answers,
1. What was the maximum temperature in each of these 3 cities?

2. What was the average windspeed in each of these 3 cities?

In [ ]:
g = df.groupby("city")
g

In [ ]:
for city, data in g:
    print("city:",city)
    print("\n")
    print("data:",data)

This is similar to SQL,

SELECT * from weather_data GROUP BY city

In [ ]:
g.get_group('mumbai')

In [ ]:
g.max()

In [ ]:
g.mean()

In [ ]:
g.min()

In [ ]:
g.size()

In [ ]:
g.count()

In [ ]:
%matplotlib inline
g.plot()

# Group data using custom function: Let's say you want to group your data using custom function. Here the requirement is to create three groups
Days when temperature was between 80 and 90 

Days when it was between 50 and 60

Days when it was anything else

For this you need to write custom grouping function and pass that to groupby

In [ ]:
def grouper(df, idx, col):
    if 80 <= df[col].loc[idx] <= 90:
        return '80-90'
    elif 50 <= df[col].loc[idx] <= 60:
        return '50-60'
    else:
        return 'others'

In [ ]:
g = df.groupby(lambda x: grouper(df, x, 'temperature'))
g

In [ ]:
for key, d in g:
    print("Group by Key: {}\n".format(key))
    print(d)

## Pandas Concatenate Tutorial
Basic Concatenation

In [1]:
import pandas as pd

india_weather = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
    "humidity": [80, 60, 78]
})
india_weather

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78

In [2]:
us_weather = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68, 65, 75]
})
us_weather

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [3]:
df = pd.concat([india_weather, us_weather])
df

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

# Ignore Index

In [4]:
df = pd.concat([india_weather, us_weather], ignore_index=True)
df

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78
3  new york           21        68
4   chicago           14        65
5   orlando           35        75

# Concatenation And Keys

In [5]:
df = pd.concat([india_weather, us_weather], keys=["india", "us"])
df

             city  temperature  humidity
india 0    mumbai           32        80
      1     delhi           45        60
      2  banglore           30        78
us    0  new york           21        68
      1   chicago           14        65
      2   orlando           35        75

In [6]:
df.loc["us"]

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [7]:
df.loc["india"]

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78

#  Concatenation Using Index

In [8]:
temperature_df = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
}, index=[0,1,2])
temperature_df

       city  temperature
0    mumbai           32
1     delhi           45
2  banglore           30

In [9]:
windspeed_df = pd.DataFrame({
    "city": ["delhi","mumbai"],
    "windspeed": [7,12],
}, index=[1,0])
windspeed_df

     city  windspeed
1   delhi          7
0  mumbai         12

In [10]:
df = pd.concat([temperature_df,windspeed_df],axis=1)
df

       city  temperature    city  windspeed
0    mumbai           32  mumbai       12.0
1     delhi           45   delhi        7.0
2  banglore           30     NaN        NaN

# Concatenate dataframe with series

In [11]:
s = pd.Series(["Humid","Dry","Rain"], name="event")
s

0    Humid
1      Dry
2     Rain
Name: event, dtype: object

In [12]:
df = pd.concat([temperature_df,s],axis=1)
df

       city  temperature  event
0    mumbai           32  Humid
1     delhi           45    Dry
2  banglore           30   Rain

# Pandas Merge Tutorial
Basic Merge Using a Dataframe Column

In [13]:
import pandas as pd
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
})
df1

       city  temperature
0  new york           21
1   chicago           14
2   orlando           35

In [14]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","orlando"],
    "humidity": [65,68,75],
})
df2

       city  humidity
0   chicago        65
1  new york        68
2   orlando        75

In [15]:
df3 = pd.merge(df1, df2, on="city")
df3

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

# Type Of DataBase Joins
<img src="db_joins.jpg" height="800", width="800">

In [16]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando", "baltimore"],
    "temperature": [21,14,35, 38],
})
df1

        city  temperature
0   new york           21
1    chicago           14
2    orlando           35
3  baltimore           38

In [17]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","san diego"],
    "humidity": [65,68,71],
})
df2

        city  humidity
0    chicago        65
1   new york        68
2  san diego        71

In [18]:
df3=pd.merge(df1,df2,on="city",how="inner")
df3

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65

In [19]:
df3=pd.merge(df1,df2,on="city",how="outer")
df3

        city  temperature  humidity
0   new york         21.0      68.0
1    chicago         14.0      65.0
2    orlando         35.0       NaN
3  baltimore         38.0       NaN
4  san diego          NaN      71.0

In [20]:
df3=pd.merge(df1,df2,on="city",how="left")
df3

        city  temperature  humidity
0   new york           21      68.0
1    chicago           14      65.0
2    orlando           35       NaN
3  baltimore           38       NaN

In [21]:
df3=pd.merge(df1,df2,on="city",how="right")
df3

        city  temperature  humidity
0    chicago         14.0        65
1   new york         21.0        68
2  san diego          NaN        71

indicator flag

In [22]:
df3=pd.merge(df1,df2,on="city",how="outer",indicator=True)
df3

        city  temperature  humidity      _merge
0   new york         21.0      68.0        both
1    chicago         14.0      65.0        both
2    orlando         35.0       NaN   left_only
3  baltimore         38.0       NaN   left_only
4  san diego          NaN      71.0  right_only

suffixes

In [23]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando", "baltimore"],
    "temperature": [21,14,35,38],
    "humidity": [65,68,71, 75]
})
df1

        city  temperature  humidity
0   new york           21        65
1    chicago           14        68
2    orlando           35        71
3  baltimore           38        75

In [24]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","san diego"],
    "temperature": [21,14,35],
    "humidity": [65,68,71]
})
df2

        city  temperature  humidity
0    chicago           21        65
1   new york           14        68
2  san diego           35        71

In [25]:
df3= pd.merge(df1,df2,on="city",how="outer", suffixes=('_first','_second'))
df3

,city,temperature_first,humidity_first,temperature_second,humidity_second
0,new york,21.0,65.0,14.0,68.0
1,chicago,14.0,68.0,21.0,65.0
2,orlando,35.0,71.0,NaN,NaN
3,baltimore,38.0,75.0,NaN,NaN
4,san diego,NaN,NaN,35.0,71.0

# join

In [26]:
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
})
df1.set_index('city',inplace=True)
df1

          temperature
city
new york           21
chicago            14
orlando            35

In [27]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","orlando"],
    "humidity": [65,68,75],
})
df2.set_index('city',inplace=True)
df2

          humidity
city
chicago         65
new york        68
orlando         75

In [28]:
df1.join(df2,lsuffix='_l', rsuffix='_r')

          temperature  humidity
city
new york           21        68
chicago            14        65
orlando            35        75

# Pivot basics

In [30]:
import pandas as pd
import numpy as np
df = pd.read_csv("weather.csv")
df

In [ ]:
df.pivot(index='city',columns='date')

In [ ]:
df.pivot(index='city',columns='date',values="humidity")

In [ ]:
df.pivot(index='date',columns='city')

In [ ]:
df.pivot(index='humidity',columns='city')

# Margins

In [ ]:
df.pivot_table(index="city",columns="date", margins=True,aggfunc=np.sum)

# Grouper

In [ ]:
df['date'] = pd.to_datetime(df['date'])

# Reshape pandas dataframe using melt

In [ ]:
import pandas as pd
df = pd.read_csv("weather.csv")
df

In [ ]:
melted = pd.melt(df, id_vars=["day"], var_name='city', value_name='temperature')
melted

# Reshape dataframe using stack/unstack

In [ ]:
import pandas as pd
df = pd.read_excel("stocks.xlsx",header=[0,1])
df

In [ ]:
df.stack()

In [ ]:
df.stack(level=0)

In [ ]:
df_stacked=df.stack()
df_stacked

In [ ]:
df_stacked.unstack()

3 levels of column headers

In [ ]:
df2 = pd.read_excel("stocks_3_levels.xlsx",header=[0,1,2])
df2

In [ ]:
df2.stack(level=1)

# Crosstab Tutorial

In [ ]:
import pandas as pd
df = pd.read_excel("survey.xls")
df

In [ ]:
pd.crosstab(df.Nationality,df.Handedness)

In [ ]:
pd.crosstab(df.Sex,df.Handedness)

Margins

In [ ]:
pd.crosstab(df.Sex,df.Handedness, margins=True)

# Multi Index Column and Rows

In [ ]:
pd.crosstab(df.Sex, [df.Handedness,df.Nationality], margins=True)

In [ ]:
pd.crosstab([df.Nationality, df.Sex], [df.Handedness], margins=True)

# Normalize

In [ ]:
pd.crosstab(df.Sex, df.Handedness, normalize='index')

# Aggfunc and Values

In [ ]:
import numpy as np
pd.crosstab(df.Sex, df.Handedness, values=df.Age, aggfunc=np.average)

# Pandas Time Series Tutorial: DateTimeIndex

In [ ]:
import pandas as pd
df = pd.read_csv("aapl.csv",parse_dates=["Date"], index_col="Date")
df.head(2)

In [ ]:
df.index

# What is DatetimeIndex? Benefits of it
(1) Partial Date Index: Select Specific Months Data

In [ ]:
df['2017-06-30']

In [ ]:
df["2017-01"]

In [ ]:
df['2017-06'].head()

# Average price of aapl's stock in June, 2017

In [ ]:
df['2017-06'].Close.mean()

In [ ]:
df['2017'].head(2)

(2) Select Date Range

In [ ]:
df['2017-01-08':'2017-01-03']

In [ ]:
df['2017-01']

# Resampling

In [ ]:
df['Close'].resample('M').mean().head()

In [ ]:
df['2016-07']

In [ ]:
%matplotlib inline
df['Close'].plot()

In [ ]:
df['Close'].resample('M').mean().plot(kind='bar')

# Pandas Time Series Analysis Tutorial: date_range

In [ ]:
df = pd.read_csv("aapl_no_dates.csv")
df.head()

In [ ]:
rng = pd.date_range(start="6/1/2016",end="6/30/2016",freq='B')
rng

In [ ]:
df.set_index(rng, inplace=True)
df.head()

# Finding missing dates from datetimeindex

In [ ]:
daily_index = pd.date_range(start="6/1/2016",end="6/30/2016",freq='D')
daily_index

In [ ]:
daily_index.difference(df.index)

# Benefits of having DatetimeIndex

In [ ]:
%matplotlib inline
df.Close.plot()

In [ ]:
df["2016-06-01":"2016-06-10"].Close.mean()

asfreq

In [ ]:
df.asfreq('D',method='pad')

In [ ]:
df.asfreq('W',method='pad')

In [ ]:
df.asfreq('H',method='pad')

# generating DatetimeIndex with periods argument

In [35]:
rng = pd.date_range('1/1/2011', periods=72, freq='H')
rng

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00', '2011-01-01 05:00:00',
               '2011-01-01 06:00:00', '2011-01-01 07:00:00',
               '2011-01-01 08:00:00', '2011-01-01 09:00:00',
               '2011-01-01 10:00:00', '2011-01-01 11:00:00',
               '2011-01-01 12:00:00', '2011-01-01 13:00:00',
               '2011-01-01 14:00:00', '2011-01-01 15:00:00',
               '2011-01-01 16:00:00', '2011-01-01 17:00:00',
               '2011-01-01 18:00:00', '2011-01-01 19:00:00',
               '2011-01-01 20:00:00', '2011-01-01 21:00:00',
               '2011-01-01 22:00:00', '2011-01-01 23:00:00',
               '2011-01-02 00:00:00', '2011-01-02 01:00:00',
               '2011-01-02 02:00:00', '2011-01-02 03:00:00',
               '2011-01-02 04:00:00', '2011-01-02 05:00:00',
               '2011-01-02 06:00:00', '2011-01-02 07:00:00',
               '2011-01-02 08:00:00', '2011-01-02 09:00:00',
               '2011-01-02 10:00:00', '2011-01-02 11:00:00',
               '2011-01-02 12:00:00', '2011-01-02 13:00:00',
               '2011-01-02 14:00:00', '2011-01-02 15:00:00',
               '2011-01-02 16:00:00', '2011-01-02 17:00:00',
               '2011-01-02 18:00:00', '2011-01-02 19:00:00',
               '2011-01-02 20:00:00', '2011-01-02 21:00:00',
               '2011-01-02 22:00:00', '2011-01-02 23:00:00',
               '2011-01-03 00:00:00', '2011-01-03 01:00:00',
               '2011-01-03 02:00:00', '2011-01-03 03:00:00',
               '2011-01-03 04:00:00', '2011-01-03 05:00:00',
               '2011-01-03 06:00:00', '2011-01-03 07:00:00',
               '2011-01-03 08:00:00', '2011-01-03 09:00:00',
               '2011-01-03 10:00:00', '2011-01-03 11:00:00',
               '2011-01-03 12:00:00', '2011-01-03 13:00:00',
               '2011-01-03 14:00:00', '2011-01-03 15:00:00',
               '2011-01-03 16:00:00', '2011-01-03 17:00:00',
               '2011-01-03 18:00:00', '2011-01-03 19:00:00',
               '2011-01-03 20:00:00', '2011-01-03 21:00:00',
               '2011-01-03 22:00:00', '2011-01-03 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [36]:
import numpy as np
ts = pd.Series(np.random.randint(0,10,len(rng)), index=rng)
ts.head(20)

2011-01-01 00:00:00    8
2011-01-01 01:00:00    8
2011-01-01 02:00:00    1
2011-01-01 03:00:00    8
2011-01-01 04:00:00    9
2011-01-01 05:00:00    4
2011-01-01 06:00:00    6
2011-01-01 07:00:00    1
2011-01-01 08:00:00    3
2011-01-01 09:00:00    4
2011-01-01 10:00:00    3
2011-01-01 11:00:00    1
2011-01-01 12:00:00    7
2011-01-01 13:00:00    6
2011-01-01 14:00:00    6
2011-01-01 15:00:00    3
2011-01-01 16:00:00    0
2011-01-01 17:00:00    5
2011-01-01 18:00:00    6
2011-01-01 19:00:00    2
Freq: H, dtype: int32

# Pandas Time Series Analysis Tutorial: Handling Holidays

In [ ]:
import pandas as pd
df = pd.read_csv("aapl_no_dates.csv")
df.head()

In [ ]:
rng = pd.date_range(start="7/1/2017", end="7/21/2017", freq='B')
rng

Using 'B' frequency is not going to help because 4th July was holiday and 'B' is not taking that into account. It only accounts for weekends

# Using CustomBusinessDay to generate US holidays calendar frequency

In [39]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

us_cal = CustomBusinessDay(calendar=USFederalHolidayCalendar())

rng = pd.date_range(start="7/1/2017",end="7/23/2017", freq=us_cal)
rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [ ]:
df.set_index(rng,inplace=True)
df.head()

You can define your own calendar using AbstractHolidayCalendar as shown below. USFederalHolidayCalendar is the only calendar available in pandas library and it serves as an example for those who want to write their own custom calendars. Here is the link for USFederalHolidayCalendar implementation https://github.com/pandas-dev/pandas/blob/master/pandas/tseries/holiday.py

# AbstractHolidayCalendar

In [41]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday
class myCalendar(AbstractHolidayCalendar):
    rules = [
        Holiday('My Birth Day', month=4, day=15),#, observance=nearest_workday),
    ]
    
my_bday = CustomBusinessDay(calendar=myCalendar())
pd.date_range('4/1/2017','4/30/2017',freq=my_bday)

DatetimeIndex(['2017-04-03', '2017-04-04', '2017-04-05', '2017-04-06',
               '2017-04-07', '2017-04-10', '2017-04-11', '2017-04-12',
               '2017-04-13', '2017-04-14', '2017-04-17', '2017-04-18',
               '2017-04-19', '2017-04-20', '2017-04-21', '2017-04-24',
               '2017-04-25', '2017-04-26', '2017-04-27', '2017-04-28'],
              dtype='datetime64[ns]', freq='C')

# CustomBusinessDay
Weekend in egypt is Friday and Saturday. Sunday is just a normal weekday and you can handle this custom week schedule using CystomBysinessDay with weekmask as shown below

In [40]:
egypt_weekdays = "Sun Mon Tue Wed Thu"

b = CustomBusinessDay(weekmask=egypt_weekdays)

pd.date_range(start="7/1/2017",periods=20,freq=b)

DatetimeIndex(['2017-07-02', '2017-07-03', '2017-07-04', '2017-07-05',
               '2017-07-06', '2017-07-09', '2017-07-10', '2017-07-11',
               '2017-07-12', '2017-07-13', '2017-07-16', '2017-07-17',
               '2017-07-18', '2017-07-19', '2017-07-20', '2017-07-23',
               '2017-07-24', '2017-07-25', '2017-07-26', '2017-07-27'],
              dtype='datetime64[ns]', freq='C')

# You can also add holidays to this custom business day frequency

In [42]:
b = CustomBusinessDay(holidays=['2017-07-04', '2017-07-10'], weekmask=egypt_weekdays)

pd.date_range(start="7/1/2017",periods=20,freq=b)

DatetimeIndex(['2017-07-02', '2017-07-03', '2017-07-05', '2017-07-06',
               '2017-07-09', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-16', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-23', '2017-07-24', '2017-07-25',
               '2017-07-26', '2017-07-27', '2017-07-30', '2017-07-31'],
              dtype='datetime64[ns]', freq='C')

# Mathematical operations on date object using custom business day

In [43]:
from datetime import datetime
dt = datetime(2017,7,9)
dt

datetime.datetime(2017, 7, 9, 0, 0)

In [44]:
dt + 1*b

Timestamp('2017-07-11 00:00:00')

In [46]:
dt - 1*b

Timestamp('2017-07-06 00:00:00')

# Pandas Time Series Analysis Tutorial: to_datetime

In [47]:
import pandas as pd
dates = ['2017-01-05', 'Jan 5, 2017', '01/05/2017', '2017.01.05', '2017/01/05','20170105']
pd.to_datetime(dates)

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

In [48]:
dt = ['2017-01-05 2:30:00 PM', 'Jan 5, 2017 14:30:00', '01/05/2016', '2017.01.05', '2017/01/05','20170105']
pd.to_datetime(dt)

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2016-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

# European style dates with day first

In [49]:
pd.to_datetime('30-12-2016')

C:\Users\AB-DW-06\AppData\Local\Temp\ipykernel_6836\2598061570.py:1: UserWarning: Parsing '30-12-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pd.to_datetime('30-12-2016')

Timestamp('2016-12-30 00:00:00')

In [50]:
pd.to_datetime('5-1-2016', dayfirst=True)

Timestamp('2016-01-05 00:00:00')

# Custom date time format

In [51]:
pd.to_datetime('2017$01$05', format='%Y$%m$%d')

Timestamp('2017-01-05 00:00:00')

# Handling invalid dates

In [52]:
pd.to_datetime(['2017-01-05', 'Jan 6, 2017', 'abc'], errors='ignore')

Index(['2017-01-05', 'Jan 6, 2017', 'abc'], dtype='object')

In [53]:
pd.to_datetime(['2017-01-05', 'Jan 6, 2017', 'abc'], errors='coerce')

DatetimeIndex(['2017-01-05', '2017-01-06', 'NaT'], dtype='datetime64[ns]', freq=None)

# Epoch
Epoch or Unix time means number of seconds that have passed since Jan 1, 1970 00:00:00 UTC time

In [54]:
current_epoch = 1501324478
pd.to_datetime(current_epoch, unit='s')

Timestamp('2017-07-29 10:34:38')

In [55]:
pd.to_datetime(current_epoch*1000, unit='ms')

Timestamp('2017-07-29 10:34:38')

In [56]:
t = pd.to_datetime([current_epoch], unit='s')
t

DatetimeIndex(['2017-07-29 10:34:38'], dtype='datetime64[ns]', freq=None)

In [57]:
t.view('int64')

array([1501324478000000000], dtype=int64)

# Pandas Time Series Analysis: Period and PeriodIndex

# Yearly Period

In [58]:
import pandas as pd
y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [59]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [60]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [61]:
y.is_leap_year

True

# Monthly Period

In [62]:
m = pd.Period('2017-12')
m

Period('2017-12', 'M')

In [63]:
m.start_time

Timestamp('2017-12-01 00:00:00')

In [64]:
m.end_time

Timestamp('2017-12-31 23:59:59.999999999')

In [65]:
m+1

Period('2018-01', 'M')

# Daily Period

In [66]:
d = pd.Period('2016-02-28', freq='D')
d

Period('2016-02-28', 'D')

In [67]:
d.start_time

Timestamp('2016-02-28 00:00:00')

In [68]:
d.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [69]:
d+1

Period('2016-02-29', 'D')

# Hourly Period

In [70]:
h = pd.Period('2017-08-15 23:00:00',freq='H')
h

Period('2017-08-15 23:00', 'H')

In [71]:
h+1

Period('2017-08-16 00:00', 'H')

# Achieve same results using pandas offsets hour

In [72]:
h+pd.offsets.Hour(1)

Period('2017-08-16 00:00', 'H')

# Quarterly Period

In [73]:
q1= pd.Period('2017Q1', freq='Q-JAN')
q1

Period('2017Q1', 'Q-JAN')

In [74]:
q1.start_time

Timestamp('2016-02-01 00:00:00')

In [75]:
q1.end_time

Timestamp('2016-04-30 23:59:59.999999999')

# Use asfreq to convert period to a different frequency

In [76]:
q1.asfreq('M',how='start')

Period('2016-02', 'M')

In [77]:
q1.asfreq('M',how='end')

Period('2016-04', 'M')

# Weekly Period

In [78]:
w = pd.Period('2017-07-05',freq='W')
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [79]:
w-1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [80]:
w2 = pd.Period('2017-08-15',freq='W')
w2

Period('2017-08-14/2017-08-20', 'W-SUN')

In [81]:
w2-w

# PeriodIndex and period_range

In [82]:
r = pd.period_range('2011', '2017', freq='q')
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]')

In [83]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [84]:
r[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

# Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017

In [85]:
r = pd.period_range('2011', '2017', freq='q-jan')
r

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [90]:
r[0].start_time

Timestamp('2010-11-01 00:00:00')

In [91]:
r[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [92]:
r = pd.PeriodIndex(start='2016-01', freq='3M', periods=10)
r

TypeError: __new__() got an unexpected keyword argument start

In [96]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

NameError: name 'idx' is not defined

Partial Indexing

In [94]:
ps['2016']

NameError: name 'ps' is not defined

In [ ]:
ps['2016':'2017']

Converting between representations

In [95]:
pst = ps.to_timestamp()
pst

NameError: name 'ps' is not defined

In [97]:
pst.index

NameError: name 'pst' is not defined

In [ ]:
ps = pst.to_period()
ps

In [ ]:
ps.index

# Processing Wal Mart's Financials

In [ ]:
import pandas as pd
df = pd.read_csv("wmt.csv")
df

In [ ]:
df.set_index("Line Item",inplace=True)
df = df.T
df

In [98]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df

DateParseError: day is out of range for month

In [ ]:
df.index

In [ ]:
df.index[0].start_time

# Add start date end date columns to dataframe

In [ ]:
df["Start Date"]=df.index.map(lambda x: x.start_time)
df

In [ ]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df

# Read microsoft's intraday stock prize

In [ ]:
import pandas as pd
df = pd.read_csv("msft.csv", header=1,index_col='Date Time',parse_dates=True)
df

In [ ]:
df.index

# Two types of datetimes in python
Naive (no timezone awareness)

Timezone aware datetime

Convert naive DatetimeIndex to timezone aware DatetimeIndex using tz_localize

In [ ]:
df.tz_localize(tz='US/Eastern')
df

In [ ]:
df.index = df.index.tz_localize(tz='US/Eastern')
df.index

In [100]:
from pytz import all_timezones
print (all_timezones)

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Asmera', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Timbuktu', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/ComodRivadavia', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Atka', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Buenos_Aires', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Catamarca', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Coral_Harbour', 'America/Cordoba', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Ensenada', 'America/Fort_Nelson', 'America/Fort_Wayne', 'America/Fortaleza', 'America/Glace_Bay', 'America/Godthab', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Indianapolis', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Jujuy', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Knox_IN', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Louisville', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Mendoza', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montreal', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Nuuk', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Acre', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Rosario', 'America/Santa_Isabel', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Shiprock', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Virgin', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/South_Pole', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Ashkhabad', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Calcutta', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Chongqing', 'Asia/Chungking', 'Asia/Colombo', 'Asia/Dacca', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Harbin', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Istanbul', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kashgar', 'Asia/Kathmandu', 'Asia/Katmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macao', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qostanay', 'Asia/Qyzylorda', 'Asia/Rangoon', 'Asia/Riyadh', 'Asia/Saigon', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Tel_Aviv', 'Asia/Thimbu', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ujung_Pandang', 'Asia/Ulaanbaatar', 'Asia/Ulan_Bator', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faeroe', 'Atlantic/Faroe', 'Atlantic/Jan_Mayen', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/ACT', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Canberra', 'Australia/Currie', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/LHI', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/NSW', 'Australia/North', 'Australia/Perth', 'Australia/Queensland', 'Australia/South', 'Australia/Sydney', 'Australia/Tasmania', 'Australia/Victoria', 'Australia/West', 'Australia/Yancowinna', 'Brazil/Acre', 'Brazil/DeNoronha', 'Brazil/East', 'Brazil/West', 'CET', 'CST6CDT', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Canada/Saskatchewan', 'Canada/Yukon', 'Chile/Continental', 'Chile/EasterIsland', 'Cuba', 'EET', 'EST', 'EST5EDT', 'Egypt', 'Eire', 'Etc/GMT', 'Etc/GMT+0', 'Etc/GMT+1', 'Etc/GMT+10', 'Etc/GMT+11', 'Etc/GMT+12', 'Etc/GMT+2', 'Etc/GMT+3', 'Etc/GMT+4', 'Etc/GMT+5', 'Etc/GMT+6', 'Etc/GMT+7', 'Etc/GMT+8', 'Etc/GMT+9', 'Etc/GMT-0', 'Etc/GMT-1', 'Etc/GMT-10', 'Etc/GMT-11', 'Etc/GMT-12', 'Etc/GMT-13', 'Etc/GMT-14', 'Etc/GMT-2', 'Etc/GMT-3', 'Etc/GMT-4', 'Etc/GMT-5', 'Etc/GMT-6', 'Etc/GMT-7', 'Etc/GMT-8', 'Etc/GMT-9', 'Etc/GMT0', 'Etc/Greenwich', 'Etc/UCT', 'Etc/UTC', 'Etc/Universal', 'Etc/Zulu', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belfast', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Nicosia', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Tiraspol', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GB', 'GB-Eire', 'GMT', 'GMT+0', 'GMT-0', 'GMT0', 'Greenwich', 'HST', 'Hongkong', 'Iceland', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Iran', 'Israel', 'Jamaica', 'Japan', 'Kwajalein', 'Libya', 'MET', 'MST', 'MST7MDT', 'Mexico/BajaNorte', 'Mexico/BajaSur', 'Mexico/General', 'NZ', 'NZ-CHAT', 'Navajo', 'PRC', 'PST8PDT', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Enderbury', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Johnston', 'Pacific/Kanton', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Ponape', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Samoa', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Truk', 'Pacific/Wake', 'Pacific/Wallis', 'Pacific/Yap', 'Poland', 'Portugal', 'ROC', 'ROK', 'Singapore', 'Turkey', 'UCT', 'US/Alaska', 'US/Aleutian', 'US/Arizona', 'US/Central', 'US/East-Indiana', 'US/Eastern', 'US/Hawaii', 'US/Indiana-Starke', 'US/Michigan', 'US/Mountain', 'US/Pacific', 'US/Samoa', 'UTC', 'Universal', 'W-SU', 'WET', 'Zulu']

# Convert to Mumbai time

In [ ]:
df.index = df.index.tz_convert('Asia/Calcutta') # tz database doesn't have any Mumbai timezone but calcutta and mumbai are both in same timezone so we will use that
df

# Airthmetic between different timezones

In [ ]:
rng = pd.date_range(start="2017-08-22 09:00:00",periods=10, freq='30min')
s = pd.Series(range(10),index=rng)
s

In [ ]:
import pandas as pd
df = pd.read_csv("fb.csv",parse_dates=['Date'],index_col='Date')
df

# shift

In [ ]:
df.shift(1)

In [ ]:
df.shift(-1)

In [ ]:
df['Prev Day Price'] = df['Price'].shift(1)
df

In [ ]:
df['Price Change'] = df['Price'] - df['Prev Day Price']
df

In [ ]:
df['5 day return'] =  (df['Price'] - df['Price'].shift(5))*100/df['Price'].shift(5)
df

In [ ]:
df = df[['Price']]
df

# tshift

In [ ]:
df.index

In [ ]:
df.index = pd.date_range(start='2017-08-15',periods=10, freq='B')
df

In [ ]:
df.index

In [ ]:
df.tshift(1)

# Dataframe and mysql database tutorial

In [101]:
import pandas as pd
import sqlalchemy

In [102]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:@localhost:3306/application')

ModuleNotFoundError: No module named 'pymysql'

# Read entire table in a dataframe using read_sql_table

In [ ]:
df = pd.read_sql_table('customers',engine)
df

Read only selected columns

In [ ]:
df = pd.read_sql_table('customers', engine, columns=["name"])
df

# Join two tables and read them in a dataframe using read_sql_query

In [ ]:
df = pd.read_sql_query("select id,name from customers",engine)
df

In [ ]:
query = '''
 SELECT customers.name, customers.phone_number, orders.name, orders.amount
 FROM customers INNER JOIN orders
 ON customers.id=orders.customer_id
'''
df = pd.read_sql_query(query,engine)
df

# read_sql is a wrapper around read_sql_query and read_sql_table

In [ ]:
query = '''
 SELECT customers.name, customers.phone_number, orders.name, orders.amount
 FROM customers INNER JOIN orders
 ON customers.id=orders.customer_id
'''
pd.read_sql(query,engine)

In [ ]:
pd.read_sql("customers",engine)

# Write to mysql database using to_sql

In [ ]:
df = pd.read_csv("customers.csv")
df

In [ ]:
df.rename(columns={
    'Customer Name': 'name',
    'Customer Phone': 'phone_number'
}, inplace=True)
df

In [ ]:
df.to_sql(
    name='customers', # database table name
    con=engine,
    if_exists='append',
    index=False
)